.form-control {
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}

.new-test-form-group, .edit-test-form-group {
	display: flex;
	color: #333;
}

.new-test-label, .edit-test-label {
	width: 20%;
	display: flex;
	align-items: center;
	padding-left: 5px;
	font-size: 16px;
	margin-bottom: 0px;
}

.new-test-dropdown, .edit-test-dropdown {
	font-size: 14px;
}

.new-test-describe, .edit-test-describe {
	resize: none;
}

.new-test-img-preview, .edit-test-img-preview {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 100px;
	padding: 40px;
	border: solid 1px;
	background-color: #FFFFFF;
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.new-test-default-cover {
	width: 100%;
	height: 100%;
}

#new_test_img_uploader, #edit_test_img_uploader {
	width: 0px;
}


.adjust-list {
	width: 100%;
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
}

.test-info {
	width: 250px;
	height: 280px;
	margin-left: 25px;
	margin-right: 25px;
	box-shadow: 0 0 12px rgba(0, 0, 0, .1);
	border-radius: 6px 6px 6px 6px;
}

.test-info:hover {
	box-shadow: 0 0 12px rgba(0, 0, 0, .3);
}

.class-cover, .test-cover {
	border-radius: 6px 6px 0 0;
}

.class-title-info, .test-title-info {
	width: 210px;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	font-size: 16px;
	font-weight: 600;
	color: #000000;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

a.test-title:link {
	color: #000000;
}

/* 未被访问的链接 */
a.test-title:visited {
	color: #000000;
}

/* 已被访问的链接 */
a.test-title:hover {
	color: #66CCFF;
	cursor: pointer;
}

/* 鼠标指针移动到链接上 */
a.test-title {
	color: #000000;
	text-decoration: none;
}

.test-info-title {
	color: #FFFFFF;
  font-size: 35px;
  font-weight: 700;
}

.test-info-title:hover {
  color: #e0e0e0;
  cursor: pointer;
  text-decoration: none;
}

.test-detail-info {
	margin-top: 10px;
}

.test-detail-info {
	margin-top: 10px;
}

.jumbotron-img {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

.modal-dialog {
	margin-top: 60px !important;
}

.open > .dropdown-toggle {
	background-color: #FFFFFF !important;
}

.stroke-black {
	-moz-text-shadow:#000 1px 0 0,#000 0 1px 0,#000 -1px 0 0,#000 0 -1px 0;
	text-shadow:#000 1px 0 0,#000 0 1px 0,#000 -1px 0 0,#000 0 -1px 0;
	-webkit-text-shadow:#000 1px 0 0,#000 0 1px 0,#000 -1px 0 0,#000 0 -1px 0;
}