<template>
  <el-container style="width:100%;">
    <el-menu class="el-menu-vertical-demo side-tree"
                   :default-openeds='["0"]'>
      <el-submenu index="0" class="expanded app-side-submenu-title">
        <template slot="title">
          <i class="el-icon-s-grid"></i>
          <span slot="title">已有组件</span>
        </template>
        <el-tree
          class="side-tree"
          ref="tree"
          id="element-tree"
          :data="data"
          highlight-current
          node-key="id"
          :props="treeProps"
          @node-click="handleClick"
          :render-content="renderContent"></el-tree>
      </el-submenu>
    </el-menu>
  </el-container>
</template>

<script>
  import "../assets/css/elementTree.scss";
  import {mapActions} from 'vuex';
  import {mapGetters} from 'vuex';

  export default {
    name: "ElementsTree",
    computed:{
      ...mapGetters({
        currentElementId: 'getDialog',
        elementData: "getSingleElementData",
      }),
    },
    data(){
      return {
        data: [{
          id: 0,
          label: "按钮",
          children:[],
        },{
          id: 1,
          label: "标签",
          children:[],
        },{
          id: 2,
          label: "输入框",
          children:[],
        },{
          id: 3,
          label: "开关",
          children:[],
        },{
          id: 4,
          label: "状态",
          children:[],
        }
        ],
        treeProps:{
          id: 'id',
          label: "label",
          children: "children",
        },
        typeCount: [0, 0, 0, 0, 0],
        countId: 5,
        typeString: ["按钮", "标签", "输入框", "开关", "状态"],
        currentId: 0,
      };
    },
    methods:{
      ...mapActions([
        'setElementData',
      ]),
      handleClick(data) {
        //console.log(data);
      },
      typeToId(type) {
        switch(type){
          case "button":
            type = 0;
            break;
          case "label":
            type = 1;
            break;
          case "input":
            type = 2;
            break;
          case "switch":
            type = 3;
            break;
          case "state":
            type = 4;
            break;
          default:
            type = 0;
        }
        return type;
      },
      processSSList(data){
        let processedData = "";
        for(let n in data){
          let state = data[n][1] == "1" ? "1" : "0";
          processedData += ("[" + data[n][0] + "-" + state + "] ");
        }
        return processedData;
      },
      appendChild(type, id) {
        let elData = this.elementData(id);
        console.log(elData);
        type = this.typeToId(type);
        let data = {
          "组件ID": elData.id || 0,
          "组件名称": elData.attributes.name || "",
          "显示文字": elData.attributes.text || "",
          "组件类型": elData.attributes.type,
          // parameters: elData.attributes.parameters || "",
          "背景图片": elData.attributes.bgUrl || "",
          "控制开关": elData.attributes.toSwitch || "",
          "服从开关": elData.attributes.bySwitch || "",
          "控制状态": elData.attributes.toState || "",
          "服从状态": elData.attributes.byState || "",
        };
        data["控制开关"] = this.processSSList(data.toSwitch, "switch");
        data["服从开关"] = this.processSSList(data.bySwitch, "switch");
        data["控制状态"] = this.processSSList(data.toState, "state");
        data["服从状态"] = this.processSSList(data.byState, "state");
        let leafId = -1;
        let children = [];
        for(let item in data){
          let c = {};
          c["id"] = leafId--;
          c["label"] = item;
          c["data"] = data[item];
          children.push(c);
        }
        let label = data["组件名称"]
           ? data["组件名称"]
           : '未命名' + this.typeString[type];

        this.data[type].children.push({id: this.countId, label: label, type: type, children: children,});
        this.$nextTick(() => {
          this.$refs.tree.setCurrentKey(this.countId);
          this.$refs.tree.getNode(type).expanded = true;
        })
        this.countId += 1;
        //document.getElementById("element-tree").append(data,parent);
      },
      renderContent(h, {node, data}){
        if(data.id>=0) {
          return (
          <span class="side-tree-node">
            <span>{node.label}</span>
          </span>);
        }

        let leafId = "tree-leaf" + this.countId;
        this.$nextTick(() => {
          let leaf = document.getElementById(leafId);
          if(!leaf) return;
          // do something
        });
        return (
          <div class="side-tree-leaf" class={leafId}>
            <span>{node.label}</span>
            <input data-belong={node.label} vModel={data.data} vOn:input={this.handleInput} class="side-tree-input">{data.data}</input>
          </div>);
      },
      handleInput(event){
        let preValue = event.target._value;
        this.$nextTick(() => {
          switch(event.target.dataset.belong){
            case "elementId":
            case "type":
            case "toSwitch":
            case "bySwitch":
            case "toState":
            case "byState":
            case "parameters":
              event.target.value = preValue;
              event.target._value = preValue;
              break;
            default:{
              let saveData = {};
              saveData["id"] = document.getElementsByClassName(event.target.parentElement.className)[0].children[1].value;
              let tag = event.target.parentElement.firstChild.innerText;
              let value = event.target.value;
              saveData["data"] = {};
              saveData["data"][tag] = value;
              //进行element的设置
              this.setElementData(saveData);
              //如果改变了元素名称，则应当在元素树中改变相应名称
              if(tag === 'name'){
                let type = document.getElementsByClassName(event.target.parentElement.className)[3].children[1].value;
                type = this.typeToId(type);
                for(let n in this.data[type].children){
                  if(this.data[type].children[n].children[0].data === parseInt(saveData["id"])){
                    this.data[type].children[n].label = value;
                  }
                }
              }
              break;
            }
          }
        })
      },
      updateInformation(){
        let currentElement = this.elementData(this.currentElementId);
        let type = this.typeToId(currentElement.attributes.type);
        let attr = currentElement.attributes;
        for(let n in this.data[type].children){
          if(this.data[type].children[n].children[0].data === this.currentElementId){
            for(let nn in this.data[type].children[n].children){
              if(nn == 0){
                continue;
              }
                attr.name.length > 0 && (this.data[type].children[n].label = attr.name);
              this.data[type].children[n].children[nn].data = attr[this.data[type].children[n].children[nn].label];
            }
          }
        }
      },
      refresh(){
        for(let n in this.data){
          this.data[n].children = [];
        }
        this.countId = 5;
        this.typeCount = [0, 0, 0, 0, 0];
        this.currentId = 0;
      },
    }
  }

</script>