<template>
  <div style="height: 16px; line-height: 16px!important; padding-top: 5px;">
    <div id="bold" class="iconfont icon-jiacu m-font-icon" ref="bold" @click="clickDiv"></div>
    <div style="width: 5px;display: inline-block;"></div>

    <div id="underline" class="iconfont icon-xiahuaxian m-font-icon" ref="underline" @click="clickDiv"></div>
    <div style="width: 5px;display: inline-block;"></div>

    <div id="alignLeft" class="iconfont icon-juzuo m-font-icon" ref="alignLeft" @click="clickDiv" style="color: #000000;"></div>
    <div style="width: 5px;display: inline-block;"></div>

    <div id="alignCenter" class="iconfont icon-juzhong m-font-icon" ref="alignCenter" @click="clickDiv"></div>
    <div style="width: 25px;display: inline-block;"></div>

    <div class="iconfont icon-zihao m-font-icon"></div>
    <el-dropdown style="display: inline;" @command="handleCommand" trigger="click">
      <span class="el-dropdown-link font-size-number">
        {{fontSize}}<i class="el-icon-arrow-down el-icon--right"></i>
      </span>
      <el-dropdown-menu slot="dropdown">
        <el-dropdown-item command="8">8</el-dropdown-item>
        <el-dropdown-item command="10">10</el-dropdown-item>
        <el-dropdown-item command="12">12</el-dropdown-item>
        <el-dropdown-item command="14">14</el-dropdown-item>
        <el-dropdown-item command="16">16</el-dropdown-item>
        <el-dropdown-item command="18">18</el-dropdown-item>
        <el-dropdown-item command="20">20</el-dropdown-item>
        <el-dropdown-item command="24">24</el-dropdown-item>
        <el-dropdown-item command="28">28</el-dropdown-item>
        <el-dropdown-item command="32">32</el-dropdown-item>
        <el-dropdown-item command="36">36</el-dropdown-item>
        <el-dropdown-item command="40">40</el-dropdown-item>
        <el-dropdown-item command="50">50</el-dropdown-item>
        <el-dropdown-item command="60">60</el-dropdown-item>
      </el-dropdown-menu>
    </el-dropdown>
  </div>
</template>


<script>
  import '../assets/icon/iconfont.css'
  import '../assets/icon/iconfont.js'
  import '../assets/css/fontSetting.scss'

  export default{
    name: 'FontSetting',
    props: {
      attributes: Object,
    },
    data(){
      return{
        fontSize: 14,
      };
    },
    methods:{
      clickDiv(event){
        let id = event.target.id;
        let state = this.attributes[id];
        switch(id){
          case 'bold':
          case 'underline':
            if(state === '1'){
              console.log('click1to0');
              this.attributes[id] = '0';
              event.target.style.color = "#cdcdcd";
            }else{
              console.log('click0to1');
              this.attributes[id] = '1';
              event.target.style.color = "#000000";
            }
            break;
          case 'alignLeft':
            if(state === '0'){
              this.attributes["alignLeft"] = '1';
              event.target.style.color = "#000000";
              this.attributes["alignCenter"] = '0';
              document.getElementById("alignCenter").style.color = "#cdcdcd";
            }
            break;
          case 'alignCenter':
            if(state === '0'){
              this.attributes["alignCenter"] = '1';
              event.target.style.color = "#000000";
              this.attributes["alignLeft"] = '0';
              document.getElementById("alignLeft").style.color = "#cdcdcd";
            }
            break;
          default:
            console.log("Error when setting text font!");
        }
      },
      handleCommand(command){
        console.log(command);
        this.attributes['size'] = parseInt(command);
        this.fontSize = parseInt(command);
        //字体大小只保存在vue实例内，没有提交修改store
      }
    },
    mounted(){
      this.fontSize = this.attributes['size'];
      //根据元素设置显示字体设置
      console.log(this.attributes);
      this.attributes['bold'] === '1' && (this.$refs.bold.style.color = "#000000");
      this.attributes['underline'] === '1' && (this.$refs.underline.style.color = "#000000");
      if(this.attributes['alignLeft'] === '1'){
        this.$refs.alignLeft.style.color = "#000000";
        this.$refs.alignCenter.style.color = "#cdcdcd";
      }else{
        this.$refs.alignCenter.style.color = "#000000";
        this.$refs.alignLeft.style.color = "#cdcdcd";
      }
    },
  }
</script>