<template>
    <div class="app">
        <el-container>
            <el-aside class="app-side app-side-left app-side-expanded">
                <div class="app-side-title">
                    <a class="app-side-logo" href="/">模拟训练系统</a>
                </div>
                <el-upload
                        class="bg-uploader"
                        :action=imgServerUpload
                        :multiple="false"
                        :show-file-list="false"
                        :on-success="handleUploadSuccess"
                        :on-error="handleUploadError"
                        :file-list="backgroundImg"
                >
                    <el-button type=primary style="font-size: 14px;font-weight: 700;width: 100%;border-radius: 0px;">
                        上传当前页面背景图片
                    </el-button>
                </el-upload>
                <div>
                    <el-menu class="el-menu-vertical-demo"
                             :default-openeds="openedMenu"
                             @select="asideSelected">
                        <el-submenu index="most-used" class="expanded app-side-submenu-title">
                            <template slot="title">
                                <i class="el-icon-document-add"></i>
                                <span slot="title">常用组件</span>
                            </template>
                            <el-menu-item class="app-side-element" index="button">按钮<span class="element-intro" style="opacity:0%;">&nbsp; 可点击的带图片按钮</span></el-menu-item>
                            <el-menu-item class="app-side-element" index="label">标签<span class="element-intro" style="opacity:0%;">&nbsp; 不可点击的文字或图片</span></el-menu-item>
                            <el-menu-item class="app-side-element" index="input">输入框<span class="element-intro" style="opacity:0%;">&nbsp; 可检测内容的输入框</span></el-menu-item>
                            <!-- <el-menu-item index="timer">计时器</el-menu-item> -->
                        </el-submenu>
                        <el-submenu index="logic-control" class="expanded app-side-submenu-title">
                            <template slot="title">
                                <i class="el-icon-cpu"></i>
                                <span slot="title">逻辑控制组件</span>
                            </template>
                            <el-menu-item class="app-side-element" index="switch">开关<span class="element-intro" style="opacity:0%;">&nbsp; 可开、关的控制器</span></el-menu-item>
                            <el-menu-item class="app-side-element" index="state">状态<span class="element-intro" style="opacity:0%;">&nbsp; 受多个开关控制的控制器</span></el-menu-item>
                        </el-submenu>
                    </el-menu>
                </div>
                <div style="width:100%;">
                    <elements-tree ref="elementsTree" class="app-side-tree" style="width: 100%;"></elements-tree>
                </div>
            </el-aside>

            <el-container>
                <el-header class="app-header">
                    <el-menu class="el-menu-demo tab-page" mode="horizontal" active-text-color="#66CCFF"
                             @select="headerSelected">
                        <el-menu-item class="app-header-dropdown" index="addNewPage">新建页面</el-menu-item>
                        <!--          <el-menu-item class="app-header-dropdown" index="2"></el-menu-item>-->
                        <!--          <el-submenu class="app-header-dropdown" index="3">-->
                        <!--            <template slot="title"></template>-->
                        <!--            <el-menu-item class="app-header-dropdown" index="3-1"></el-menu-item>-->
                        <!--            <el-menu-item class="app-header-dropdown" index="3-2"></el-menu-item>-->
                        <!--          </el-submenu>-->
                        <el-menu-item class="app-header-dropdown" index="save">保存</el-menu-item>
                        <el-menu-item class="app-header-dropdown" index="submit">提交</el-menu-item>
                    </el-menu>
                    <el-tooltip content="设置完成当前页面并进入下一页面的控制条件(开关或状态)" placement="right" effect="light">
                        <el-cascader v-model="pageTurningCondition" :options="pageTurningCascader" placeholder="翻页条件"
                             @visible-change="cascaderClick" @change="cascaderChanged"></el-cascader>
                    </el-tooltip>
                    <pageSlider class="app-header-slider" @changePage="changePage"></pageSlider>
                    <div class="app-header-userinfo">
                        <el-dropdown class="app-header-dropdown" trigger="hover" :hide-on-click="true">
                            <span class="el-dropdown-link" style="display: inline-block; height: 100%; width: 100%;">
                            {{ user.name }}
                            </span>
                            <el-dropdown-menu slot="dropdown">
                                <el-dropdown-item>消息提醒</el-dropdown-item>
                                <el-dropdown-item>个人信息</el-dropdown-item>
                                <el-dropdown-item divided
                                                  @click="userLogout">退出登录
                                </el-dropdown-item>
                            </el-dropdown-menu>
                        </el-dropdown>
                    </div>
                </el-header>
                <el-main class="app-main">
                    <div class="app-main-root">
                        <div id="adjustElementContainer" class="app-main-container" onselectstart="return false">
                        </div>
                    </div>
                </el-main>
            </el-container>
            <el-dialog title="参数设置" @close="cancelDialog" :visible.sync="dialogVisible" :close-on-click-modal="false"
                       width="30%">
                <settingDialog ref="settingDialog" :dialogId="dialogSwitch"
                               @changeElementBg="changeElementBg"></settingDialog>
                <div slot="footer" class="dialog-footer">
                    <el-button type="danger" style="float: left; margin-left: 10px;" @click="deleteElement()">删 除
                    </el-button>
                    <el-button type="primary" @click="confirmDialog()">确 定</el-button>
                    <el-button @click="cancelDialog()">取 消</el-button>
                </div>
            </el-dialog>
        </el-container>
    </div>
</template>

<script>
    import Vue from 'vue'
    import store from '../store'
    import {mapGetters} from 'vuex'
    import {mapActions} from 'vuex'
    import {elementAttributes} from '../store/utils.js'
    import MateElement from './MateElement.vue'
    import ElementsTree from './ElementsTree.vue'
    import SettingDialog from './SettingDialog.vue'
    import PageSlider from './PageSlider.vue'
    import '../assets/css/adjustElementCss.css'
    import '../assets/css/mainPage.scss'
    import {postData} from '../api/api';
    import {getData, getTestData} from '../api/api';

    export default {
        name: "MainPage",
        computed: {
            ...mapGetters({
                asideMargin: 'getAsideMargin',
                headerMargin: 'getHeaderMargin',
                elementsData: 'getElementsData',
                elementData: 'getSingleElementData',
                dialogSwitch: 'getDialog',
                pageData: 'getPageData',
                currentPage: 'getCurrentPage',
                deleteSwitch: 'getDelete',
                imgServer: 'getImgServer',
                imgServerUpload: 'getImgServerUpload',
            }),
        },
        watch: {
            dialogSwitch: function () {
                if (this.dialogSwitch) {
                    this.openDialog(this.dialogSwitch);
                }
            },
            deleteSwitch: function () {
                if (this.deleteSwitch !== 0) {
                    this.deleteElement(this.deleteSwitch);
                }
            },
        },
        data() {
            return {
                elementId: 1,
                openedMenu: ['most-used'],
                user: {"name":"", "message":"", "info":""},
                bgImgUrl: "",
                elementAttributes: elementAttributes,
                dialogVisible: false,
                dragElementList: [],
                backgroundImg: [],
                pageTurningCondition: [],
                pageTurningCascader: [],
            };
        },
        components: {
            elementsTree: ElementsTree,
            settingDialog: SettingDialog,
            pageSlider: PageSlider
        },
        methods: {
            ...mapActions([
                'setAsideMargin',
                'setHeaderMargin',
                'addElementData',
                'closeDialog',
                'addPageData',
                'savePageData',
                'setDelete',
                'setPageData',
                'setImgServer',
            ]),
            cascaderClick(event) {
                //比起在添加删除组件的时候处理，这样统一查询比较不容易出错
                if (event) {
                    this.pageTurningCascader = [];
                    let mElementData = this.elementsData;
                    for (let n in mElementData) {
                        let typeC = "";
                        if (mElementData[n].attributes.type == "switch") {
                            typeC = "开关";
                        } else if (mElementData[n].attributes.type == "state") {
                            typeC = "状态";
                        }
                        if (typeC != "") {
                            this.pageTurningCascader.push({
                                value: mElementData[n].id + "",
                                label: mElementData[n].attributes.name ? mElementData[n].attributes.name : (typeC + mElementData[n].id + ""),
                                children: [{value: "1", label: "打开"}, {value: "0", label: "关闭"}]
                            })
                        }
                    }
                }
            },
            cascaderChanged(event) {
                let rootElement = this.elementData(0);
                rootElement.attributes["turning"] = event[0] + "." + event[1];
            },
            mountAdjustElement(left, top, width, height, attr) {
                console.log(left, top, height, attr);
                let Element = Vue.extend(MateElement);
                let element_attr = attr;
                let element = new Element({
                    "minWidth": 25,
                    "minHeight": 25,
                    "width": width,
                    "height": height,
                    "X": left,
                    "Y": top,
                    "elementId": "dragElement-" + this.elementId,
                    propsData: {
                        element_attr: element_attr,
                        element_data: this.elementData(this.elementId),
                    },
                    store,
                }).$mount();

                element.$el.setAttribute("id", "dragElement-" + this.elementId);
                this.dragElementList.push(element);
                let container = document.getElementById("adjustElementContainer");
                container.appendChild(element.$el);
            },
            handleOpenSettingDialog() {
                console.log("Open");
            },
            userLogout() {
                console.log("用户退出登录");
            },
            handleSelected(attr, elType) {
                let _this = this;
                //this.mountAdjustWindow();
                let container = document.getElementById("adjustElementContainer");
                container.onmousedown = function (e) {
                    e = e || window.event;
                    let which = e.which || (e.button + 1)
                    if (which !== 1) {
                        return;
                    }
                    let posx = e.clientX;
                    let posy = e.clientY;
                    let div = document.createElement("div");
                    let isMounted = false;
                    div.className = "tempDiv";
                    div.style.left = e.clientX + "px";
                    div.style.top = e.clientY + "px";
                    document.onmousemove = function (ev) {
                        !isMounted && (document.getElementById("adjustElementContainer").appendChild(div)) && (isMounted = true);
                        div.style.left = Math.min(ev.clientX, posx) + "px";
                        div.style.top = Math.min(ev.clientY, posy) + "px";
                        div.style.width = Math.abs(posx - ev.clientX) + "px";
                        div.style.height = Math.abs(posy - ev.clientY) + "px";
                        document.onmouseup = function () {
                            document.onmousemove = null;
                            document.onmouseup = null;
                            let left= parseInt(div.style.left.substr(0, div.style.left.length - 2));
                            let top= parseInt(div.style.top.substr(0, div.style.top.length - 2));
                            let width = parseInt(div.style.width.substr(0, div.style.width.length - 2));
                            let height = parseInt(div.style.height.substr(0, div.style.height.length - 2));
                            //设置参数
                            let data = {};
                            data["id"] = _this.elementId;
                            data["zIndex"] = _this.elementId;
                            data["attributes"] = {};
                            let attributes = {};
                            elType === "switch" && (attributes["name"] = "开关" + _this.elementId);
                            elType === "state" && (attributes["name"] = "状态" + _this.elementId);
                            attributes["type"] = elType;

                            attributes["width"] = width;
                            attributes["height"] = height;
                            attributes["left"] = left;
                            attributes["top"] = top;

                            if (elType === "switch" || elType === "state") {
                                attributes["parameters"] = "1";
                            }
                            data["attributes"] = attributes;
                            _this.addElementData(data).then(() => {
                                _this.mountAdjustElement(left, top, width, height, attr);
                                _this.elementId += 1;
                            });

                            _this.$refs.elementsTree.appendChild(elType, _this.elementId);
                            div.parentNode.removeChild(div);

                        }
                    }
                    document.onmouseup = function () {
                        //!isMounted && (document.getElementById("adjustElementContainer").appendChild(div)) && (isMounted = true);
                        document.onmousemove = null;
                        document.onmouseup = null;
                    }
                }
            },
            asideSelected(index, indexPath) {
                let attr = {
                    type: "",
                };
                switch (indexPath[0]) {
                    case "most-used":
                        switch (indexPath[1]) {
                            case "button": {
                                attr.type = "button";
                                this.handleSelected(attr, "button");
                                break;
                            }
                            case "label":
                                attr.type = "label";
                                this.handleSelected(attr, "label");
                                break;
                            case "input":
                                attr.type = "input";
                                this.handleSelected(attr, "input");
                                break;
                            case "timer":
                                attr.type = "timer";
                                this.handleSelected(attr, "timer");
                                break;
                            default:
                                console.log("Error element selected");
                        }
                        break;
                    case "logic-control":
                        switch (indexPath[1]) {
                            case "switch":
                                attr.type = "switch";
                                this.handleSelected(attr, "switch");
                                break;
                            case "state":
                                attr.type = "state";
                                this.handleSelected(attr, "state");
                                break;
                            default:
                                console.log("Error element selected");
                        }
                        break;
                }
            },
            headerSelected(index, indexPath) {
                switch (indexPath[0]) {
                    case "addNewPage": {
                        //执行addPage，把当前page所有数据加入page，并有了新的elementData
                        this.savePage();
                        this.releaseContent();
                        this.addPageData();
                        break;
                    }
                    case "save": {
                        this.savePage();
                        break;
                    }
                    case "submit": {
                        if (this.pageData.length == 0) {
                            this.$message({message: "未保存当前内容，或当前内容为空", type: "warning"});
                            break;
                        }
                        //压缩pageData
                        let zipData = [];
                        for (let page in this.pageData) {
                            console.log(this.pageData[page]);
                            let onePageData = [];
                            for (let el in this.pageData[page]) {
                                let attr = "";
                                console.log(this.pageData[page][el]);
                                for (let key in this.pageData[page][el].attributes) {
                                    if (this.pageData[page][el].attributes[key] == 'undefined') {
                                        attr += ',';
                                    } else if (key === "toState" || key === "byState" || key === "toSwitch" || key === "bySwitch") {
                                        let sSList = this.pageData[page][el].attributes[key]
                                        let sSListToStr = "";
                                        for (let n in sSList) {
                                            if (n < sSList.length - 1) {
                                                if (sSList[n][1]) {
                                                    sSListToStr += (sSList[n][0] + ".1-");
                                                } else {
                                                    sSListToStr += (sSList[n][0] + ".0-");
                                                }
                                            } else {
                                                if (sSList[n][1]) {
                                                    sSListToStr += (sSList[n][0] + ".1");
                                                } else {
                                                    sSListToStr += (sSList[n][0] + ".0");
                                                }
                                            }
                                        }
                                        attr += sSListToStr + ',';
                                    } else {
                                        attr += (this.pageData[page][el].attributes[key]) + ',';
                                    }
                                }
                                let content = {
                                    id: this.pageData[page][el]['id'],
                                    zIndex: this.pageData[page][el]['zIndex'],
                                    attr: attr,
                                };
                                onePageData.push(content);
                            }
                            zipData.push(onePageData);
                        }
                        console.log(zipData);
                        zipData = JSON.stringify(zipData);
                        postData("submit_test/", zipData);
                        this.$confirm('是否返回练习详情页面？', '提示', {
                            confirmButtonText: '确定',
                            cancelButtonText: '取消',
                            type: 'warning',
                        }).then( () => {
                            getTestData('find_test_id_by_name/').then( data => {
                                window.location.href = "/tests/" + data + "/";
                            })
                        }).catch( () => {

                        });
                        break;
                    }
                    default:
                        console.log("Error element selected");
                }
            },
            openDialog(id) {
                this.dialogVisible = true;
            },
            cancelDialog() {
                this.dialogVisible = false;
                this.closeDialog();
            },
            confirmDialog() {
                this.dialogVisible = false;
                this.$refs.settingDialog.confirmData();
                this.$refs.elementsTree.updateInformation();
                this.closeDialog();
            },
            changeElementBg(para) {
                let dom = document.getElementById("dragElement-" + para["id"]);
                dom.style.backgroundImage = "url(" + para["url"] + ")";

            },
            deleteElement(id = -1) {
                this.savePage();
                this.releaseContent();
                let elements = this.elementsData;
                id === -1 && (id = this.dialogSwitch); //如果沒有传入id值，则删除当前元素
                //更新所有的开关和状态，以和删除元素后的id相符合
                for (let n = id; n < elements.length - 1; n++) {
                    for (let label in elements[n].attributes) {
                        if(label === 'toSwitch' || label === 'bySwitch' || label === 'toState' || label === 'byState'){
                            for(let ssNo = 0; ssNo < elements[n].attributes[label].length; ssNo ++){
                                let ssId = parseInt(elements[n].attributes[label][ssNo][0]);
                                if(ssId > id){
                                    elements[n].attributes[label][ssNo][0] = '' + (ssId - 1);
                                }else if(ssId === id){
                                    elements[n].attributes[label].splice(ssNo, 1);
                                }
                            }
                        }
                        elements[n].attributes[label] = elements[n + 1].attributes[label];
                    }
                }
                elements.pop();
                this.savePage();
                this.loadContent();
                this.closeDialog();
                this.dialogVisible = false;
                //待删除
                this.setDelete(0);
            },
            releaseContent() {
                //清空当前elementTree
                //有elementTree的ref了，根据这个把所有的组件销毁
                this.$refs.elementsTree.refresh();
                let container = document.getElementById("adjustElementContainer");
                let children = container.childNodes;
                for (let c = children.length; c > 0; c--) {
                    this.dragElementList[0].unBindEvent();
                    this.dragElementList[0].$destroy();
                    if (this.dragElementList[0]._watcher) {
                        this.dragElementList[0]._watcher.teardown();
                    }
                    let i = this.dragElementList[0]._watchers.length
                    while (i--) {
                        this.dragElementList[0]._watchers[i].teardown()
                    }
                    // remove reference from data ob
                    // frozen object may not have observer.
                    if (this.dragElementList[0]._data.__ob__) {
                        this.dragElementList[0]._data.__ob__.vmCount--
                    }
                    this.dragElementList.splice(0, 1);
                    container.removeChild(children[0]);
                }
                //reset Id
                this.elementId = 1;
                //将背景界面清空
                //需要在elementData[0]里面加入背景和控制相关的各种数据
            },
            resizeElementWhenMounted(_this, width, height, top, left) {
                let originParent = _this.elementData(0);
                let currentParent = document.getElementById("adjustElementContainer")
                //按比例缩放元素
                let scaleW = currentParent.clientWidth / originParent.attributes.width;
                let scaleH = currentParent.clientHeight / originParent.attributes.height;
                left = left - _this.asideMargin;
                left = Math.round(left * scaleW + parseInt(_this.asideMargin));
                top = top - _this.headerMargin;
                top = Math.round(top *scaleH + parseInt(_this.headerMargin));
                width = Math.round(width * scaleW);
                height = Math.round(height * scaleH);
                return {width, height, top, left};
            },
            loadContent() {
                let elementsData = this.elementsData;
                for (let n in elementsData) {
                    if (n == 0) { //n==0 表示这是背景元素，用来存储页面信息
                        this.refreshBg(elementsData[n].attributes['bgUrl']);
                        let condition = elementsData[n].attributes.turning.split('.');
                        this.pageTurningCondition = [condition[0], condition[1]];
                        console.log(this.pageTurningCondition);
                        this.cascaderClick(true); //执行点击事件响应函数来加载级联选择器内容
                        continue;
                    }
                    let attr = elementsData[n].attributes;
                    console.log(attr);

                    let size = this.resizeElementWhenMounted(this, attr.width, attr.height, attr.top, attr.left);
                    this.mountAdjustElement(size.left, size.top, size.width, size.height);

                    this.changeElementBg({id: n, url: attr.bgUrl});
                    this.$refs.elementsTree.appendChild(attr.type, this.elementId);
                    this.elementId += 1;
                }
            },
            changePage() {
                this.releaseContent();
                this.loadContent();
            },
            savePage() {
                let container = document.getElementById("adjustElementContainer");
                let children = container.childNodes;
                for (let c = 0; c < children.length; c++) {
                    let el = this.elementData(children[c].id.split("-")[1]).attributes;
                    el.width = children[c].style.width.replace(/[^0-9.]/ig, '');
                    el.height = children[c].style.height.replace(/[^0-9.]/ig, '');
                    el.left = children[c].style.left.replace(/[^0-9.]/ig, '');
                    el.top = children[c].style.top.replace(/[^0-9.]/ig, '');
                }
                //获取当前作业页面大小，存入element[0]
                this.elementData(0).attributes['width'] = container.clientWidth;
                this.elementData(0).attributes['height'] = container.clientHeight;
                this.savePageData();
            },
            handleUploadError(err) {
                console.log(err);
            },
            handleUploadSuccess(response) {
                response = response.replace(/\n/g, '');
                response = response.replace(/ /g, '');
                let regex = /MD5:(.*)(?=<\/h1>)/g;
                let url = this.imgServer + regex.exec(response)[1];
                this.elementData(0).attributes["bgUrl"] = url;
                this.refreshBg(url);
            },
            refreshBg(url) {
                let dom = document.getElementById("adjustElementContainer");
                dom.style.backgroundImage = "url(" + url + ")";
            },
            processSSData(data) { // switch and state data
                let processedData = [];
                if (data == "") {
                    return [];
                }
                let sSDataList = data.split("-");
                for (let n in sSDataList) {
                    let sSData = sSDataList[n].split(".");
                    processedData.push([sSData[0], sSData[1]]);
                }
                return processedData;
            },
        },
        mounted() {
            this.setAsideMargin(232);
            this.setHeaderMargin(45);
            //let mainDiv = document.getElementById("adjustElementContainer");
            //mainDiv.style.width = document.documentElement.clientWidth - 232 + 'px';
            //mainDiv.style.height = document.documentElement.clientHeight - 62 + 'px';
            //mainDiv.style.backgroundImage = 'url(' + this.bgImgUrl + ')';

            getTestData('find_test_by_name/').then(
                data => {
                    console.log(data);
                    let pageData = [];
                    for (let i in data) {
                        let elData = [];
                        for (let ii in data[i]) {
                            let attrStrList = data[i][ii]['attr'].split(',');
                            if (ii == 0) {
                                let content = {
                                    id: data[i][ii]['id'],
                                    attributes: {
                                        width: attrStrList[0],
                                        height: attrStrList[1],
                                        bgUrl: attrStrList[2],
                                        turning: attrStrList[3],
                                    },
                                };
                                elData.push(content);
                                continue;
                            }
                            let content = {
                                id: data[i][ii]['id'],
                                zIndex: data[i][ii]['zIndex'],
                                attributes: {
                                    name: attrStrList[0],
                                    type: attrStrList[1],
                                    text: attrStrList[2],
                                    parameters: attrStrList[3],
                                    bgUrl: attrStrList[4],

                                    toSwitch: this.processSSData(attrStrList[5]),
                                    bySwitch: this.processSSData(attrStrList[6]),
                                    toState: this.processSSData(attrStrList[7]),
                                    byState: this.processSSData(attrStrList[8]),

                                    width: attrStrList[9],
                                    height: attrStrList[10],
                                    left: attrStrList[11],
                                    top: attrStrList[12],

                                    bold: attrStrList[13],
                                    underline: attrStrList[14],
                                    alignLeft: attrStrList[15],
                                    alignCenter: attrStrList[16],
                                    size: attrStrList[17],
                                },
                            };
                            elData.push(content);
                        }
                        pageData.push(elData);
                    }
                    if(pageData.length == 0){
                       let currentParent = document.getElementById("adjustElementContainer");
                       pageData.push([{
                           id: 0,
                           zindex: 0,
                           attributes: {
                               width: currentParent.clientWidth,
                               height: currentParent.clientHeight,
                               bgUrl: "",
                               turning: "",
                           },
                       }]);
                    }
                    this.setPageData(pageData);
                    let _this = this;
                    console.log(pageData);
                    setTimeout(function () {
                        _this.releaseContent();
                        _this.loadContent();
                    }, 100);
                }, err => {
                    console.log("Err is:");
                    console.log(err);
                }
            );
            getData('find_img_server/').then(
                data => {
                    this.setImgServer(data);
                }
            );
            getData('find_user/').then(
                data => {
                    this.user.name = data.name;
                }
            );
        },
    }
</script>

<style scoped>

</style>