<template>
  <el-tooltip class="item" effect="dark" :content="elementName" placement="top">
    <div @mouseover="checkToolTip">
      <div class="title">
        <label
          v-if="isLabel"
          id="mateElementText"
          class="title"
          onselectstart="return false"
        >
          {{element_data.attributes.text}}
        </label>
        <!--
        <div>
          <a class="min" href="javascript:;" title="最小化"></a>
          <a class="max" href="javascript:;" title="最大化"></a>
          <a class="revert" href="javascript:;" title="还原"></a>
          <a class="close" href="javascript:;" title="关闭"></a>
        </div>
        -->
      </div>
      <div class="resizeL"></div>
      <div class="resizeT"></div>
      <div class="resizeR"></div>
      <div class="resizeB"></div>
      <div class="resizeLT"></div>
      <div class="resizeTR"></div>
      <div class="resizeBR"></div>
      <div class="resizeLB"></div>
      <div class="content" onselectstart="return false">
      </div>
      <el-menu
        @onblur="onblur"
        style="position: absolute;width: 73px;"
        v-show="menuVisible == true"
        @select="handleSelected"
        ref="menu">
        <el-menu-item index="edit" style="border: solid 1px;">编 辑</el-menu-item>
        <el-menu-item index="delete" style="border-left: solid 1px;border-right: solid 1px;border-bottom: solid 1px;">删 除</el-menu-item>
      </el-menu>
    </div>
  </el-tooltip>
</template>


<script>
// @ is an alias to /src
import AdjustElement from '../assets/javascripts/adjustElementFunction';
import {mapGetters} from 'vuex';
import {mapActions} from 'vuex';


export default {
  name: "MateElement",
  props: {
    element_attr: Object,
    element_data: Object,
  },
  components: {
  },
  computed:{
    ...mapGetters({
      asideMargin: 'getAsideMargin',
      headerMargin: 'getHeaderMargin',
      elementData: 'getSingleElementData',
    }),
  },
  watch: {
    'element_data.attributes.size': {
      handler: function(newVal, oldVal){
        //设置字体
        let myself = document.getElementById(this.id);
        myself.style.fontSize = newVal + 'px';
      },
    },
    'element_data.attributes.bold': {
      handler: function(newVal, oldVal){
        //设置字体
        let text = document.getElementById(this.id);
        if(newVal === '1'){
          text.style.fontWeight="bold";
        }else{
          text.style.fontWeight="";
        }
      },
    },
    'element_data.attributes.underline': {
      handler: function(newVal, oldVal){
        let text = document.getElementById(this.id);
        if(newVal === '1'){
          text.style.textDecoration="underline";
        }else{
          text.style.textDecoration="";
        }
      }
    },
    'element_data.attributes.alignLeft': {
      handler: function(newVal, oldVal){
        let text = document.getElementById(this.id);
        console.log(this.id);
        if(newVal === '1'){
          text.style.textAlign="";
        }
      }
    },
    'element_data.attributes.alignCenter': {
      handler: function(newVal, oldVal){
        let text = document.getElementById(this.id);
        console.log(this.id);
        if(newVal === '1'){
          text.style.textAlign="center";
        }
      }
    },
  },
  data() {
    return {
      id: this.$options.elementId,
      dragMinWidth: this.$options.minWidth,
      dragMinHeight: this.$options.minHeight,
      positionX: this.$options.X,
      positionY: this.$options.Y,
      dragInitWidth: this.$options.width,
      dragInitHeight: this.$options.height,
      preParentWidth: 0,
      preParentHeight: 0,
      adjust: null,
      attr: this.element_attr,  //这个只是element的编号
      isButton: false,
      isLabel: false,
      isInput: false,
      isTimer: false,
      elementName: "",
      menuVisible: "false",
      listener: null,
    };
  },
  methods:{
    ...mapActions([
      'setElementData',
      'openDialog',
      'setDelete',
    ]),
    init(){
      this.adjust = new AdjustElement(this.dragMinWidth, this.dragMinHeight, this.positionX, this.positionY, this.dragInitWidth, this.dragInitHeight, this.asideMargin, this.headerMargin, this.id);
      this.elementName = "未命名" + this.element_data.attributes.type;
      if(this.element_data.attributes.type === "switch" || this.element_data.attributes.type === "state"){
        window.onload = window.onresize = this.adjust.initial(false);
      }else {
        window.onload = window.onresize = this.adjust.initial();
        if(this.element_data.attributes.type === "label") {
          this.isLabel = true;
        }
      }

      let myself = document.getElementById(this.id);
      //设置字体大小
      myself.style.fontSize = this.element_data.attributes.size + 'px';
      //设置字体
      this.element_data.attributes.bold === '1' && (myself.style.fontWeight = 'bold');
      this.element_data.attributes.underline === '1' && (myself.style.textDecoration = 'underline');
      this.element_data.attributes.alignLeft === '1' && (myself.style.textAlign = '');
      this.element_data.attributes.alignCenter === '1' && (myself.style.textAlign = 'center');
    },
    bindEvent(){
      //添加窗口大小改变时的事件监听器
      let _this = this;
      let resizeTimer = null;
      this.listener = function(){
        resizeTimer && clearTimeout(resizeTimer);
        resizeTimer = setTimeout(function(){
          //动态调整可拖动范围
          _this.adjust.onWindowResize();
          //动态调整位置及大小
          let parent = document.getElementById("adjustElementContainer");
          let myself = document.getElementById(_this.id);

          let scaleW = parent.clientWidth / _this.preParentWidth;
          let scaleH = parent.clientHeight / _this.preParentHeight;
          let l = myself.style.left;
          l = parseInt(l.substr(0, l.length-2)) - _this.asideMargin;
          l = l * scaleW + _this.asideMargin;
          let t = myself.style.top;
          t = parseInt(t.substr(0, t.length-2)) - _this.headerMargin;
          t = t * scaleH + _this.headerMargin;
          let w = myself.clientWidth;
          w = w * scaleW;
          let h = myself.clientHeight;
          h = h * scaleH;
          myself.style.left = Math.round(l) + 'px';
          myself.style.top = Math.round(t) + 'px';
          myself.style.width = Math.round(w) + 'px';
          myself.style.height = Math.round(h) + 'px';
          _this.preParentWidth = parent.clientWidth;
          _this.preParentHeight = parent.clientHeight;

          // 由于在元素中保存的是相对于原始窗口大小的元素大小，所以应该在save的时候由mainPage统一保存，而不是在元素中保存
          // let data = {
          //   width: w + 'px',
          //   height: h + 'px',
          //   left: l + 'px',
          //   top: t + 'px',
          // };
          // let numberId = parseInt(_this.id.replace(/[^0-9]/ig, ''));
          // data = {
          //   data: data,
          //   id: numberId,
          // };
          // _this.setElementData(data);
        }, 100);
      };
      window.addEventListener('resize', this.listener);
    },
    unBindEvent(){
      window.removeEventListener('resize', this.listener);
    },
    rightClickMenu(event){
      let _this = this;
      let el = document.getElementById(this.id);
      el.oncontextmenu = function(event) {
        //创建右键菜单
        //let data = _this.elementData(parseInt(_this.id.replace(/[^0-9]/ig, '')));
        //console.log(data)
        //postPageElement("test/page/element/", data);
        _this.menuVisible = true;
        _this.$refs.menu.$el.style.left = event.layerX + "px";
        _this.$refs.menu.$el.style.top = event.layerY + "px";
        event.preventDefault();
      };
      el.onclick = function(event) {
        _this.menuVisible = false;
      };
    },
    doubleClick(){
      let _this = this;
      let el = document.getElementById(this.id);
      el.ondblclick = function(event) {
        //双击事件
        _this.openDialog(parseInt(_this.id.replace(/[^0-9]/ig, '')));
        event.preventDefault();
      };
    },
    checkToolTip(){
      let data = this.elementData(parseInt(this.id.replace(/[^0-9]/ig, '')));
      if(data.attributes.name.length > 0){
        this.elementName = data.attributes.name;
      }else{
        this.elementName = data.attributes.type + data.id;
      }
    },
    handleSelected(index, indexPath){
      this.menuVisible = false;
      let id = parseInt(this.id.replace(/[^0-9]/ig, ''));
      switch(index){
        case "edit":
          this.openDialog(id);
          event.preventDefault();
          break;
        case "delete":
          this.setDelete(id);
      }
    },
    onblur(){
      console.log("lost");
    }
  },
  mounted() {
    this.$nextTick(function(){
      this.init();
      let parent = document.getElementById("adjustElementContainer");
      this.preParentWidth =  parent.clientWidth;
      this.preParentHeight = parent.clientHeight;
      this.bindEvent();
      this.rightClickMenu();
      this.doubleClick();
    })
  }
}
</script>
