<template>
    <el-slider
            v-model="page"
            :step="1"
            :max="maxPage"
            :min="0"
            show-stops
            show-input
            @change="pageChange"
    >
        <el-input v-model="page"></el-input>
    </el-slider>
</template>

<script>
    import Vue from 'vue'
    import {mapGetters} from 'vuex'
    import {mapActions} from 'vuex'
    import store from '../store'
    import '../assets/css/pageSliderCss.scss'

    export default {
        name: "PageSlider",
        computed: {
            ...mapGetters({
                currentPage: 'getCurrentPage',
                pageData: 'getPageData',
                elementData: 'getSingleElementData',
                elementsData: 'getElementsData',
            }),
        },
        watch: {
            currentPage() {
                this.page = this.currentPage;
                this.page > this.maxPage && (this.maxPage = this.page);
            },
            pageData() {
                this.maxPage = this.pageData.length == 0 ? 0 : this.pageData.length - 1;
            }
        },
        data() {
            return {
                page: 0,
                maxPage: 0,
            }
        },
        methods: {
            ...mapActions([
                'changePageData',
                'savePageData',
            ]),
            savePage() {
                let container = document.getElementById("adjustElementContainer");
                let children = container.childNodes;
                for (let c = 0; c < children.length; c++) {
                    let el = this.elementData(children[c].id.split("-")[1]).attributes;
                    el.width = children[c].style.width.replace(/[^0-9.]/ig, '');
                    el.height = children[c].style.height.replace(/[^0-9.]/ig, '');
                    el.left = children[c].style.left.replace(/[^0-9.]/ig, '');
                    el.top = children[c].style.top.replace(/[^0-9.]/ig, '');
                }
                //获取当前作业页面大小，存入element[0]
                this.elementData(0).attributes['width'] = container.clientWidth;
                this.elementData(0).attributes['height'] = container.clientHeight;
                this.savePageData();
            },
            pageChange(event) {
                this.savePage();
                this.changePageData(event).then(() => {
                    this.$emit('changePage');
                });
            },
        },
    }
</script>