<template>
  <el-container>
    <el-form ref="form" label-width="80px" style="width: 100%;">
      <el-row :gutter="20">
        <el-col v-if="isSwitch || isState" :span="12">
          <div class="grid-content">
            <el-form-item label="名称设置">
              <el-input v-model="attributes.name" placeholder="未设置名称"></el-input>
            </el-form-item>
            <el-form-item label="当前状态">
              <el-select v-model="attributes.parameters" placeholder="未设置状态">
                <el-option :label="openOrClose[0]" :value="trueOrFalse[0]"></el-option>
                <el-option :label="openOrClose[1]" :value="trueOrFalse[1]"></el-option>
              </el-select>
            </el-form-item>
          </div>
        </el-col>
        <el-col v-if="!(isSwitch || isState)" :span="12">
          <div class="grid-content">
            <el-form-item label="名称设置">
              <el-input v-model="attributes.name" placeholder="未设置名称"></el-input>
            </el-form-item>
            <el-form-item label="组件类型">
              <el-input v-model="attributes.type" :readonly="true"></el-input>
            </el-form-item>
            <el-form-item v-if="isLabel" label="显示文字">
              <el-input v-model="attributes.text" type="textarea" :autosize="{ minRows: 1, maxRows: 4}"  placeholder="未设置显示文字"></el-input>
              <fontSetting v-if="isLabel" :attributes = "attributes"> </fontSetting>
            </el-form-item>
            <el-form-item v-if="isInput" label="输入检测">
              <el-input v-model="attributes.text" type="textarea" :autosize="{ minRows: 1, maxRows: 4}"  placeholder="未设置待检测文字"></el-input>
              <fontSetting v-if="isLabel" :attributes = "attributes"> </fontSetting>
            </el-form-item>
            <el-form-item label="背景图片">
              <el-upload
                class="bg-uploader"
                :action="imgServerUpload"
                :before-remove="handleRemove"
                :on-exceed="handleExceed"
                :accept="acceptType"
                :file-list="bgList"
                :header="postHeader"
                :before-upload="handleBeforeUpload"
                :on-error="handleError"
                :on-success="handleSuccess"
                :on-progress="handleProgress"
                :limit="1">
                <el-button size="small" type=primary style="width: 100%!important;">上传</el-button>
              </el-upload>
            </el-form-item>
          </div>
        </el-col>
        <el-col :span="12">
          <div class="grid-content">
            <el-form-item v-if="!isLabel" label="控制开关">
              <el-cascader v-model="attributes.toSwitch" :props="cascaderProps" :options="switchCascader" placeholder="无关联开关"></el-cascader>
            </el-form-item>
            <el-form-item label="服从开关">
              <el-cascader v-model="attributes.bySwitch" :props="cascaderProps" :options="switchCascader" placeholder="无关联开关"></el-cascader>
            </el-form-item>
            <el-form-item v-if="!isLabel" label="控制状态">
              <el-select v-model="attributes.toState" multiple placeholder="无关联状态" collapse-tags>
                <el-option v-for="_states in states" :key="_states.id" :label="_states.label" :value="_states.id">
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="服从状态">
              <el-select v-model="attributes.byState" multiple placeholder="无关联状态" collapse-tags>
                <el-option v-for="_states in states" :key="_states.id" :label="_states.label" :value="_states.id">
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item>
            </el-form-item>
            <el-form-item>
            </el-form-item>
          </div>
        </el-col>
      </el-row>
    </el-form>
  </el-container>
</template>

<script>
import {mapGetters} from 'vuex'
import {mapActions} from 'vuex'
import {elementAttributes} from '../store/utils.js'
import FontSetting from './FontSetting.vue'

export default {
  name: "SettingDialog",
  components: {
    fontSetting: FontSetting,
  },
  props: {
    dialogId: Number,
  },
  computed: {
    ...mapGetters({
      getData: 'getSingleElementData',
      getDatas: 'getElementsData',
      imgServerUpload: 'getImgServerUpload',
      imgServer: 'getImgServer',
    }),
  },
  watch:{
    dialogId: function(){
      let _this = this;
      this.$nextTick(() => {
        if(_this.dialogId != 0){
          this.bgList = [];
          _this.getElementsData();
          _this.getElementData();
          console.log(this.attributes.toSwitch);
          console.log(this.attributes.bySwitch);
        }else{
          _this.attributes = {
            name: "",
            type: "",
            text: "",
            bgUrl: "",
            parameters: "",
            toSwitch: [],
            bySwitch: [],
            toState: [],
            byState: [],
          };
          this.bgList = [];
        }
      });
    },
    getDatas: function(){
      this.getElementData();
    },
  },
  data() {
    return {
      dataSet: {},
      datasSet: {},
      attributes: {},
      switches: [],
      states: [],
      switchCascader: [],
      bgList: [],
      postHeader: {},
      isLabel: false,
      isInput: false,
      acceptType: ".jpg, .png",
      isSwitch: false,
      isState: false,

      openOrClose: ['开启', '关闭'],
      trueOrFalse: ['1', '0'],
      cascaderProps: {multiple: true},
    //name type parameters bgUrl toSwitch...
    };
  },
  methods: {
    ...mapActions([
      'setElementData',
    ]),
    getElementData(){
      if(this.dialogId != 0){
        this.dataSet = this.getData(this.dialogId);
        this.attributes = this.dataSet.attributes;
        if(this.attributes["type"] == "label"){
          this.isLabel = true;
        }else{
          this.isLabel = false;
        }
        if(this.attributes["type"] == "input"){
          this.isInput = true;
        }else{
          this.isInput = false;
        }
        if(this.dataSet.attributes.type == "switch"){
          this.isSwitch = true;
        }else{
          this.isSwitch = false;
        }
        if(this.dataSet.attributes.type == "state"){
          this.isState = true;
        }else{
          this.isState = false;
        }
      }else{
        this.attributes = {
            name: "",
            type: "",
            text: "",
            bgUrl: "",
            parameters: "",
            toSwitch: [],
            bySwitch: [],
            toState: [],
            byState: [],
          };
      }
    },
    getElementsData(){
      this.switches = [];
      this.states = [];
      this.switchCascader = [];
      this.datasSet = this.getDatas;
      for(let i=1, len=this.datasSet.length; i < len; i++){
        if(this.datasSet[i].attributes.type === "switch"){
          this.switchCascader.push({
            value: this.datasSet[i].id,
            label: this.datasSet[i].attributes.name === "" ? this.datasSet[i].id : this.datasSet[i].attributes.name,
            children: [{value: 1, label: "开启"}, {value: 0, label: "关闭"}]
          });
        }
        if(this.datasSet[i].attributes.type === "state"){
          this.states.push({
            id: this.datasSet[i].id,
            label: this.datasSet[i].attributes.name === "" ? this.datasSet[i].id : this.datasSet[i].attributes.name,
          });
        }
      }
    },
    handleBeforeUpload(file){
      let type = file.name.substring(file.name.lastIndexOf('.')+1)
      if(type !== 'jpg' && type !== 'png' && type !== 'jpeg'){
        return this.$message({message: "仅推荐上传jpg或png格式图片，否则可能导致无法显示", type: "warning"});
      }
    },
    handleRemove(file, fileList){
      return this.$confirm(`确定移除 $(file.name)?`);
    },
    handleExceed(files, fileList){
      return this.$message({message: "仅允许上传一张背景图片", type: "warning"});
    },
    confirmData(){
      if(this.dialogId != 0){
        let data = {};
        data["id"] =  this.dialogId;
        data["data"] = this.attributes;
        this.setElementData(data);
      }else{
        console.log("Error when confirm element data");
      }
    },
    handleError(err){
      console.log("Error when upload background image");
      console.log(err);
    },
    handleSuccess(response){
      response = response.replace(/\n/g, '');
      response = response.replace(/ /g, '');
      let regex = /MD5:(.*)(?=<\/h1>)/g;
      let url = this.imgServer + regex.exec(response)[1];
      this.attributes["bgUrl"] = url;
      //发送信号给mainPage让它改变相应组件的bg
      this.$emit("changeElementBg", {url: url, id: this.dialogId});
    },
    handleProgress(){
    },
  },
  mounted() {
    if(this.elementId != 0){
        this.getElementsData();
        this.getElementData();
        this.postHeader['Content-Type'] = 'png';
    }
  },
}
/*
文件上传需要配置好文件服务器的请求头，使用的zimg只有get请求才会附加headers，想要在post响应中添加headers，需要配置nginx反向代理，在其中使用add_header 来设置
*/
</script>

