{% extends 'login/base.html' %}
{% load static %}
{% block title %}登录{% endblock %}
{% block static %}
<script src="{% static 'js/login/main.js' %}"></script>
<link href="{% static 'css/login/login.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-md-4 col-md-offset-4">
          <form class='form-login' action="/login/" method="post" AUTOCOMPLETE="OFF">
              {% if messages %}
                <ul class="messages">
                   {% for message in messages %}
                      <script>alert('{{ message }}')</script>
                   {% endfor %}
                </ul>
              {% endif %}
              {% csrf_token %}
              <h2 class="text-center">欢迎登录</h2>
              <div class="form-group">
                <label for="id_username">用户名：</label>
                <input type="text" name='username' class="form-control" id="id_username" placeholder="Username" autofocus required>
                    {% if request.session.username %}
                        <script>
                            $(document).ready(function(){
                                $("#id_username").val("{{ request.session.username }}");
                            })
                        </script>
                    {% endif %}
              </div>
              <div class="form-group">
                <label for="id_password">密码：</label>
                <input type="password" name='password' class="form-control" id="id_password" placeholder="Password" required>
              </div>
              <button type="reset" class="btn btn-default pull-left">重置</button>
              <button type="submit" class="btn btn-primary pull-right">提交</button>
          </form>
        </div>
    </div> <!-- /container -->
{% endblock %}
