{% extends 'login/base.html' %}

{% load static %}
{% block title %}注册{% endblock %}
{% block static %}
<script src="{% static 'js/login/main.js' %}"></script>
<link href="{% static 'css/login/login.css' %}" rel="stylesheet"/>
{% endblock %}


{% block content %}
    <div class="container">
        <div class="col-md-4 col-md-offset-4">
          {% include './components/teacher_verify.html' %}
          <form class='form-login' action="/register/" method="post" AUTOCOMPLETE="OFF">
              {% if messages %}
                <ul class="messages">
                   {% for message in messages %}
                      <script>alert('{{ message }}')</script>
                   {% endfor %}
                </ul>
              {% endif %}
              {% csrf_token %}
              <h2 class="text-center">欢迎注册</h2>
              <div class="form-group">
                <label for="id_username">用户名：</label>
                <input type="text" name='username' class="form-control" id="id_username" placeholder="Username" autofocus required>
              </div>
              <div class="form-group">
                <label for="id_display_name">昵称：</label>
                <input type="text" name='display_name' class="form-control" id="id_display_name" placeholder="Display name" autofocus required>
              </div>
              <div class="form-group">
                <label for="id_password">密码：</label>
                <input type="password" name='password1' class="form-control" id="id_password" placeholder="Password" required>
              </div>
              <div class="form-group">
                <label for="id_password2">再次输入密码：</label>
                <input type="password" name='password2' class="form-control" id="id_password2" placeholder="Password" required>
              </div>
              <button type="reset" class="btn btn-default pull-left">重置</button>
              <button type="submit" class="btn btn-primary pull-right">提交</button>
              <a class="teacher-verify pull-right" id="teacher_verify_trigger" data-toggle="modal" data-target="#teacher_verify_modal">我是教师</a>
          </form>


        </div>
    </div> <!-- /container -->

{% endblock %}