{% extends 'base.html' %}

{% load static %}
{% block title %}成绩{% endblock %}
{% block static %}
    <script src="{% static 'js/grade/main.js' %}"></script>
    <link href="{% static 'css/grade/index.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <div class="container.fluid">
        {% if messages %}
            <script>
              {% for msg in messages %}
                alert('{{ msg.message }}');
              {% endfor %}
            </script>
        {% endif %}
        {% include 'jumbotron.html' %}
        <div class="row">
            {% if request.session.identity == 'teacher' %}
                <div class="col-md-5 col-md-offset-2">
                    {% include './components/search.html' %}
                </div>
                {% include './components/tea_class.html' %}
            {% endif %}
            {% if request.session.identity == 'student' %}
                <div class="col-md-5 col-md-offset-2">
                    {% include './components/search.html' %}
                </div>
                {% include './components/stu_class.html' %}
            {% endif %}
        </div>
    </div>


{% endblock %}