{% extends 'base.html' %}

{% load static %}
{% block title %}首页{% endblock %}
{% block static %}
    <script src="{% static 'js/grade/main.js' %}"></script>
    <link href="{% static 'css/grade/index.css' %}" rel="stylesheet"/>
    <script src="{% static 'js/echarts.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container.fluid">
        {% include './components/student_modal.html' %}
        {% if messages %}
            <script>
              {% for msg in messages %}
                alert('{{ msg.message }}');
              {% endfor %}
            </script>
        {% endif %}
        <div class="row"
             style="background: url({{ TEST_INFO_HEADER_IMG }}); background-size: cover; background-position: bottom; padding-top: 30px; color: #ffffff;height: 158px;">
            <div class="col-md-12">
                <div class="col-md-7 col-md-offset-2">
                    <div class="row">
                        <div class="col-md-5">
                            <p class="grade-class-info-title">{{ class.name }}</p>
                        </div>
                        <div class="col-md-7">
                            <br>
                            <p><b>课程简介：</b>{{ class.describe }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <span>&nbsp;<b>任课教师:</b> {% for teacher in class.teachers %} {{ teacher.username }} {% endfor %}
                            &nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <span><b>开课时间:</b> {{ class.create_time }}&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <span><b>参课人数:</b> {{ class.students_number }}</span>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 1cm; height: 650px">
        <div class="col-md-2">
            <div class="col-md-9 col-md-offset-3">
                <div class="hardworking-men-title">
                    <b>活跃榜</b>
                </div>
                <div class="hardworking-men" style="height: auto">
                    <div class="row" style="padding-top: 5px; margin-left: 0px;height: 50px">
                        <div class="1st" style="margin-left: 10px">
                            <img src="{% static 'img/1st.png' %}" width="50px" height="50px">
                            <span style="font-size: 18px">{{ hardworking_men.0.0 }}</span>
                        </div>
                    </div>
                    <canvas id="Canvas1" style="width: 100%; margin-bottom: 0px"></canvas>
                    <script>
                      let c1 = document.getElementById('Canvas1');
                      c1.width = 262;
                      c1.height = 70;
                      let ctx1 = c1.getContext('2d');
                      ctx1.beginPath();
                      ctx1.moveTo(45, 0);//定义线条开始坐标
                      ctx1.lineTo(225, 70);//定义终点坐标
                      ctx1.closePath();
                      ctx1.strokeStyle = 'black';
                      ctx1.stroke();
                    </script>

                    <div class="row" style="margin-right: 0px;height: 50px">
                        <div class="2nd" style="text-align: right; margin-right: 10px">
                            <span style="font-size: 18px">{{ hardworking_men.1.0 }}</span>
                            <img src="{% static 'img/2nd.png' %}" width="50" height="50">
                        </div>
                    </div>
                    <canvas id="Canvas2" style="width:100%"></canvas>
                    <script>
                      let c2 = document.getElementById('Canvas2');
                      c2.width = 262;
                      c2.height = 70;
                      let ctx2 = c2.getContext('2d');
                      ctx2.beginPath();
                      ctx2.moveTo(225, 0);//定义线条开始坐标
                      ctx2.lineTo(45, 70);//定义终点坐标
                      ctx2.closePath();
                      ctx2.strokeStyle = 'black';
                      ctx2.stroke();
                    </script>
                    <div class="row" style=" margin-left: 0px;height: 50px">
                        <div class="3rd" style="margin-left: 10px">
                            <img src="{% static 'img/3rd.png' %}" width="50" height="50">
                            <span style="font-size: 18px">{{ hardworking_men.2.0 }}</span>
                        </div>
                    </div>
                    <canvas id="Canvas3" style="width: 100%"></canvas>
                    <script>
                      let c3 = document.getElementById('Canvas3');
                      c3.width = 262;
                      c3.height = 70;
                      let ctx3 = c3.getContext('2d');
                      ctx3.beginPath();
                      ctx3.moveTo(45, 0);//定义线条开始坐标
                      ctx3.lineTo(225, 70);//定义终点坐标
                      ctx3.closePath();
                      ctx3.strokeStyle = 'black';
                      ctx3.stroke();
                    </script>
                    <div class="row" style="margin-right: 0px;height: 50px">
                        <div class="4th" style="text-align: right; margin-right: 10px">
                            <span style="font-size: 18px">{{ hardworking_men.3.0 }}</span>
                            <img src="{% static 'img/4th.png' %}" width="50" height="50">
                        </div>
                    </div>
                    <canvas id="Canvas4" style="width: 100%"></canvas>
                    <script>
                      let c4 = document.getElementById('Canvas4');
                      c4.width = 262;
                      c4.height = 70;
                      let ctx4 = c4.getContext('2d');
                      ctx4.beginPath();
                      ctx4.moveTo(225, 0);//定义线条开始坐标
                      ctx4.lineTo(45, 70);//定义终点坐标
                      ctx4.closePath();
                      ctx4.strokeStyle = 'black';
                      ctx4.stroke();
                    </script>
                    <div class="row" style=" margin-left: 0px;height: 50px">
                        <div class="5th" style="margin-left: 10px">
                            <img src="{% static 'img/5th.png' %}" width="50" height="50">
                            <span style="font-size: 18px">{{ hardworking_men.4.0 }}</span>
                        </div>
                    </div>
                    <canvas id="Canvas5" style="width: 100%"></canvas>
                    <script>
                      let c5 = document.getElementById('Canvas5');
                      c5.width = 262;
                      c5.height = 70;
                      let ctx5 = c5.getContext('2d');
                      ctx5.beginPath();
                      ctx5.moveTo(45, 0);//定义线条开始坐标
                      ctx5.lineTo(225, 70);//定义终点坐标
                      ctx5.closePath();
                      ctx5.strokeStyle = 'black';
                      ctx5.stroke();
                    </script>
                    <div class="row" style="margin-right: 0px;height: 50px; margin-bottom: 5px">
                        <div class="6th" style="text-align: right; margin-right: 10px">
                            <span style="font-size: 18px">{{ hardworking_men.5.0 }}</span>
                            <img src="{% static 'img/6th.png' %}" width="50" height="50">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <ul id="myTab" class="nav nav-tabs">
                {% for test in tests %}
                    <li>
                        <a href=#{{ test.id }} data-toggle="tab">
                            <span style="font-weight: 700 ;font-size: 19px">{{ test.name }}</span>
                        </a>
                    </li>
                {% endfor %}
                <li class="active">
                    <a href="#total-grade" data-toggle="tab">
                        <span style="font-weight: 700;font-size: 19px">总成绩</span>
                    </a>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content">
                {% for test_id, test_record in statistics.items %}
                    <div class="tab-pane fade"
                         style="height: 600px; overflow-y: scroll; box-shadow: #d9d6d6 2px 3px 5px 5px"
                         id={{ test_id }}>
                        <table class="table">
                            <thead>
                            <tr style="font-size: 19px">
                                <th>姓名</th>
                                <th style="text-align: center">练习次数</th>
                                <th style="text-align: center">平均点击次数</th>
                                <th style="text-align: center">平均花费时长</th>
                                <th style="text-align: center">详情</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for student in students %}
                                <tr style="height: 50px">
                                    <th style="font-size: 18px">{{ student.name }}</th>
                                    {% for student_id_record, student_record in test_record.items %}
                                        {% if student_id_record == student.id %}
                                            <th style="text-align: center; font-size: 18px">{{ student_record.do_times }}次</th>
                                            <th style="text-align: center; font-size: 18px">{{ student_record.average_click }}次</th>
                                            <th style="text-align: center; font-size: 18px">{{ student_record.average_time }}分钟</th>
                                            {% if student_record.do_times != 0 %}
                                                <th style="text-align: center">
                                                    <button class="btn btn-default student-grade-detail"
                                                            data-toggle="modal"
                                                            data-target="#student_test"
                                                            data-username={{ student.name }} data-test_id={{ test_id }}
                                                            data-student_id={{ student.id }} data-class_id={{ class.id }}>
                                                        详情
                                                    </button>
                                                </th>
                                            {% endif %}
                                            {% if student_record.do_times == 0 %}
                                                <th></th>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                {% endfor %}
                <div class="tab-pane fade in active" id="total-grade">
                    <p>这个是总成绩</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 10px">
        <div class="col-md-2">
            <div class="col-md-9 col-md-offset-3">
                <div class="hardworking-men-title">
                    <b>课程资讯</b>
                </div>
                <div class="hardworking-men" style="height: 700px; overflow-y: auto;">
                    <table class="news-table" style="width: 100%; margin-top: 10px;">
                        <tbody>
                        {% for test in tests %}
                            <tr>
                                <th>{{ test.create_time }}：</th>
                            </tr>
                            <tr style="border-bottom: solid 1px #b9b9b9">
                                <th style="font-weight: 700">{{ test.teachers }}<span
                                        style="font-weight: 500"> 发布</span> {{ test.name }}</th>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="statistics-title">
                <b>统计图表</b>
            </div>
            <div class="row"
                 style="height: 1px; border-bottom: solid #000000 1px; margin-right: 0px; margin-left: 0px;"></div>
            <div class="row" style="margin-left: 0px; margin-right: 0px;">
                <div class="chart1" id="chart1" style="width: 100%; height: 350px;" data-c_id={{ class.id }}></div>
            </div>
            <div class="row" style="margin-right: 0px; margin-left: 0px;">
                <div class="col-md-6"><!--饼状图-->
                    <div class="chart2" id="chart2" style="width: 100%; height: 400px;"></div>
                </div>
                <div class="col-md-4">
                    <div class="chart3" id="chart3" style="width: 100%; height: 400px;"></div>
                </div>
            </div>
        </div>
    </div>
    </divclass>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        let myChart = echarts.init(document.getElementById('chart3'));

        // 指定图表的配置项和数据
        let option = {
            title: {
                text: '第一个 ECharts 实例'
            },
            tooltip: {},
            legend: {
                data:['销量']
            },
            xAxis: {
                data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
            },
            yAxis: {},
            series: [{
                name: '销量',
                type: 'bar',
                data: [5, 20, 36, 10, 10, 20]
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>

{% endblock %}
