{% extends 'base.html' %}

{% load static %}
{% block title %}首页{% endblock %}
{% block static %}
    <script src="{% static 'js/test_op/main.js' %}"></script>
    <link href="{% static 'css/test_op/index.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
<div class="container.fluid">
    {% if messages %}
        <script>
            {% for msg in messages %}
                alert('{{ msg.message }}');
            {% endfor %}
        </script>
    {% endif %}
    <div class="row" style="background: url({{ TEST_INFO_HEADER_IMG }}); background-size: cover; background-position: bottom; padding-top: 30px; color: #ffffff;height: 158px;">
        <div class="col-md-12">
            <div class="col-md-7 col-md-offset-2">
                <div class="row">
                    <p class="test-info-title" style="font-size: 60px;">{{test.name}}</p>
                </div>
                <div class="row">
                    <span><b>创建者:</b> {{test.teacher.username}}&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span>&nbsp;<b>创建时间:</b> {{ test.create_time }}&nbsp;&nbsp;&nbsp;&nbsp;</span>
                </div>
            </div>
            <div class="col-md-2" style="padding-top: 85px;">
                <span>
                    {% if is_creator %}
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 1cm">
        <div class='col-md-2 col-md-offset-1'>
            <p align="center"><b style="font-size: 20px;">练习简介</b></p>
            <div class="row" style="white-space: pre; height: 1px; border-bottom: solid 1px #000000"></div>
            <p align="center">{{ test.describe }}</p>
            <br><br><br>
            {{ test.empty_test}}
        </div>
        <div class="col-md-8">
                <p align="center"><b style="font-size: 20px;">成绩排名</b></p>
                <div class="row" style="white-space: pre; height: 1px; border-bottom: solid 1px #000000"></div>
                {{ test.describe }}
                <br><br><br>
                {{ test.empty_test}}
        </div>
    </div>
</div>

{% endblock %}
