{% extends 'base.html' %}

{% load static %}
{% block title %}首页{% endblock %}
{% block static %}
<script src="{% static 'js/grade/main.js' %}"></script>
<link href="{% static 'css/grade/index.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
<div class="container.fluid">
    {% include './components/student_modal.html' %}
    {% if messages %}
    <script>
        {% for msg in messages %}
            alert('{{ msg.message }}');
        {% endfor %}
    </script>
    {% endif %}
    <div class="row" style="background-color: #3c763d; padding: 10px; color: #ffffff;">
        <div class="col-md-12">
            <div class="col-md-7 col-md-offset-2">
                <div class="row">
                    <div class="col-md-5">
                        <p class="grade-class-info-title">{{class.name}}</p>
                    </div>
                    <div class="col-md-7">
                        <br>
                        <p><b>课程简介：</b>{{class.describe}}</p>
                    </div>
                </div>
                <div class="row">
                    <span>&nbsp;<b>任课教师:</b> {% for teacher in class.teachers %} {{teacher.username}} {% endfor %}&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span><b>开课时间:</b> {{ class.create_time }}&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span><b>参课人数:</b> {{ class.students_number }}</span>
                </div>
            </div>

            </div>
        </div>


    <div class="row" style="margin-top: 1cm; padding-bottom: 30px">
        <div class="col-md-2">
            <div class="col-md-9 col-md-offset-3">
                <div class="hardworking-men-title">
                    <b>活跃榜</b>
                </div>
                <div class="hardworking-men" style="height: auto">
                    <div class="row" style="padding-top: 5px; margin-left: 0px;height: 50px">
                        <div class="1st" style="margin-left: 10px">
                            <img src="{% static 'img/1st.png' %}" width="50px" height="50px">
                            <span style="font-size: 18px">{{ hardworking_men.0.0 }}</span>
                        </div>
                    </div>
                    <canvas id="Canvas1" style="width: 100%; margin-bottom: 0px"></canvas>
                    <script>
                      let c1 = document.getElementById('Canvas1');
                      c1.width = 262;
                      c1.height = 70;
                      let ctx1 = c1.getContext('2d');
                      ctx1.beginPath();
                      ctx1.moveTo(45, 0);//定义线条开始坐标
                      ctx1.lineTo(225, 70);//定义终点坐标
                      ctx1.closePath();
                      ctx1.strokeStyle = 'black';
                      ctx1.stroke();
                    </script>

                    <div class="row" style="margin-right: 0px;height: 50px">
                        <div class="2nd" style="text-align: right; margin-right: 10px">
                            <span style="font-size: 18px">{{ hardworking_men.1.0 }}</span>
                            <img src="{% static 'img/2nd.png' %}" width="50" height="50">
                        </div>
                    </div>
                    <canvas id="Canvas2" style="width:100%"></canvas>
                    <script>
                      let c2 = document.getElementById('Canvas2');
                      c2.width = 262;
                      c2.height = 70;
                      let ctx2 = c2.getContext('2d');
                      ctx2.beginPath();
                      ctx2.moveTo(225, 0);//定义线条开始坐标
                      ctx2.lineTo(45, 70);//定义终点坐标
                      ctx2.closePath();
                      ctx2.strokeStyle = 'black';
                      ctx2.stroke();
                    </script>
                    <div class="row" style=" margin-left: 0px;height: 50px">
                        <div class="3rd" style="margin-left: 10px">
                            <img src="{% static 'img/3rd.png' %}" width="50" height="50">
                            <span style="font-size: 18px">{{ hardworking_men.2.0 }}</span>
                        </div>
                    </div>
                    <canvas id="Canvas3" style="width: 100%"></canvas>
                    <script>
                      let c3 = document.getElementById('Canvas3');
                      c3.width = 262;
                      c3.height = 70;
                      let ctx3 = c3.getContext('2d');
                      ctx3.beginPath();
                      ctx3.moveTo(45, 0);//定义线条开始坐标
                      ctx3.lineTo(225, 70);//定义终点坐标
                      ctx3.closePath();
                      ctx3.strokeStyle = 'black';
                      ctx3.stroke();
                    </script>
                    <div class="row" style="margin-right: 0px;height: 50px">
                        <div class="4th" style="text-align: right; margin-right: 10px">
                            <span style="font-size: 18px">{{ hardworking_men.3.0 }}</span>
                            <img src="{% static 'img/4th.png' %}" width="50" height="50">
                        </div>
                    </div>
                    <canvas id="Canvas4" style="width: 100%"></canvas>
                    <script>
                      let c4 = document.getElementById('Canvas4');
                      c4.width = 262;
                      c4.height = 70;
                      let ctx4 = c4.getContext('2d');
                      ctx4.beginPath();
                      ctx4.moveTo(225, 0);//定义线条开始坐标
                      ctx4.lineTo(45, 70);//定义终点坐标
                      ctx4.closePath();
                      ctx4.strokeStyle = 'black';
                      ctx4.stroke();
                    </script>
                    <div class="row" style=" margin-left: 0px;height: 50px">
                        <div class="5th" style="margin-left: 10px">
                            <img src="{% static 'img/5th.png' %}" width="50" height="50">
                            <span style="font-size: 18px">{{ hardworking_men.4.0 }}</span>
                        </div>
                    </div>
                    <canvas id="Canvas5" style="width: 100%"></canvas>
                    <script>
                      let c5 = document.getElementById('Canvas5');
                      c5.width = 262;
                      c5.height = 70;
                      let ctx5 = c5.getContext('2d');
                      ctx5.beginPath();
                      ctx5.moveTo(45, 0);//定义线条开始坐标
                      ctx5.lineTo(225, 70);//定义终点坐标
                      ctx5.closePath();
                      ctx5.strokeStyle = 'black';
                      ctx5.stroke();
                    </script>
                    <div class="row" style="margin-right: 0px;height: 50px; margin-bottom: 5px">
                        <div class="6th" style="text-align: right; margin-right: 10px">
                            <span style="font-size: 18px">{{ hardworking_men.5.0 }}</span>
                            <img src="{% static 'img/6th.png' %}" width="50" height="50">
                        </div>
                    </div>
                </div><!-- 活跃榜实现-->
            </div>
        </div><!--左边的侧边栏-->
        <div class="col-md-9">
            <ul id="myTab" class="nav nav-tabs">
                {% for test in tests %}
                    <li>
                        <a href= #{{ test.id }} data-toggle="tab">
                            <span style="font-weight: 700">{{ test.name }}</span>
                        </a>
                    </li>
                {% endfor %}
	            <li class="active">
		            <a href="#total-grade" data-toggle="tab">
			            <span style="font-weight: 700">总成绩</span>
		            </a>
	            </li>
            </ul>
            <div id="myTabContent" class="tab-content" style="height: 300px; box-shadow: 2px 3px 5px 5px #d9d9d9">
                {% for test_id, test_record in statistics.items %}
                    <div class="tab-pane fade" id={{ test_id }}>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>次数</th>
                                    <th style="text-align: center">花费时长</th>
                                    <th style="text-align: center">点击次数</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for one_record in test_record %}
                                    <tr>
                                        <th>第{{one_record.times}}次</th>
                                        <th style="text-align: center">{{one_record.spend_time}}s</th>
                                        <th style="text-align: center">{{one_record.spend_click}}次</th>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                {% endfor %}
	            <div class="tab-pane fade in active" id="total-grade">
		            <p>这个是总成绩</p>
	            </div>
            </div>

            <div class="statistics-title" style="margin-top: 10px">
                <b>统计图表</b>
            </div>
            <div class="row"
                 style="height: 1px; border-bottom: solid #000000 1px; margin-right: 0px; margin-left: 0px;"></div>
        </div>
    </div>
</divclass>

{% endblock %}