.navbar-nav li:hover{
    display: block;
    background-color: #303030;
}
.bd-navbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 101;
}

.open > .dropdown-toggle {
    color: #333;
    background-color: #303030;
    background-image: none;
    border-color: #adadad;
}

.dropdown-menu {
    padding: 0px;
}
.mdropdown-button {
    width: 100%;
    height: 40px;
    border: none;
    color: #ffffff;
    background-color: rgb(0, 0, 0, 0.9);
}
.mdropdown-a {
    cursor: pointer;
}
.mdropdown-button:hover{
    color: #ff9900;
}
.navbar-nav li a{
    font-weight: 800;
    color: #ffffff!important;
}
.navbar-nav > .open > a{
    background-color: #333!important;
}
.container-fluid {
    background: #0f0f0f;
}
.main-icon {
    width: 90px;
    height: 50px;
}
.search-popover-header {
    position: absolute;
    height: auto;
    max-height: 400px;
    overflow: auto;
    background: #FFFFFF;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 12px;
    font-size: 16px;
    padding: 15px;
}

.search-result-row-header {
    cursor: pointer;
}
.search-result-row-header:hover {
    margin-left: 1px;
    border-radius: 3px 0px 0px 3px;
    background-color: rgba(150, 150, 150, 0.1);
}

.search-result-row-description-header {
    font-size: 14px;
    color: rgba(0,0,0,0.40)
}