{% extends 'base.html' %}

{% load static %}
{% block title %}首页{% endblock %}
{% block static %}
    <script src="{% static 'js/class_op/main.js' %}"></script>
    <link href="{% static 'css/class_op/index.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <div class="container.fluid">
        {% if messages %}
            <script>
                {%
                for msg in messages %}
                alert('{{ msg.message }}');
                {%
                endfor %
                }
            </script>
        {% endif %}
        <div class="row"
             style="background: url({{ TEST_INFO_HEADER_IMG }}); background-size: cover;
                     background-position: bottom; padding-top: 5px; color: #ffffff;
                     height: 120px;">
            <div class="col-md-12">
                <div class="col-md-6 col-md-offset-2">
                    <div class="row">
                        <a class="class-info-title" style="font-size: 60px;"
                           data-id="{{ class.id }}">{{ class.name }}</a>
                    </div>
                    <div class="row">
                        <span>&nbsp;<b>授课教师:</b> {% for teacher in class.teachers %}
                            {{ teacher.display_name }} {% endfor %}&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <span><b>开课时间:</b> {{ class.create_time }}&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <span><b>参课人数:</b> {{ class.students_number }}</span>
                    </div>
                </div>
                <div style="right: 15%; position: absolute; padding-top: 65px;">
                <span>
                    {% if is_creator %}
                        <a class="btn btn-danger" style="float: right; margin-left: 4px;" href="delete/">
                            删除课程
                        </a>
                        <a class="btn btn-warning" style="float: right; margin-left: 4px;" href="edit/">
                            编辑课程
                        </a>
                    {% else %}
                        {% if is_member %}
                            <a class="btn btn-success" style="float: right;" href="quit/">
                               已加入课程
                            </a>
                        {% else %}
                            <a class="btn btn-primary" style="float: right;" href="join/">
                                加入课程
                            </a>
                        {% endif %}
                    {% endif %}
                </span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="row" style="background: #f8f8f8;">
                <div class="col-md-offset-2 col-md-6">
                    <ul class="nav nav-pills class-info-tab">
                        <li><a class="class-content-tab" id="class_content_info" data-target="info">课程首页</a></li>
                        <li><a class="class-content-tab" data-target="chapter">章节信息</a></li>
                        <li><a class="class-content-tab" data-target="source">课程资源</a></li>
                        <li><a class="class-content-tab" data-target="exam">考核测验</a></li>
                        <li><a class="class-content-tab" data-target="discuss">研讨交流</a></li>
                        {% if is_creator %}
                            <li><a class="class-content-tab" data-target="notice">发布通知</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="row divider-line-shadow"></div>
            <div class="row" id="class_content_container">
                {% include './components/class_content_info.html' %}
            </div>
        </div>
    </div>

    <!--流媒体点播-->
    <!--记录-->
    <!--问卷调查功能-->

{% endblock %}
