{% extends 'base.html' %}

{% load static %}
{% block title %}首页{% endblock %}
{% block static %}
    <script src="{% static 'js/class_op/main.js' %}"></script>
    <script src="{% static 'js/class_op/create_new_test.js' %}"></script>
    <script src="{% static 'js/bootstrap-select.min.js' %}"></script>
    <link href="{% static 'css/class_op/index.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/class_op/create_new_test.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/bootstrap-select.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'js/bootstrap-fileinput/fileinput.js' %}"></script>
    <script src="{% static 'js/bootstrap-fileinput/zh.js' %}"></script>
    <link href="{% static 'js/bootstrap-fileinput/fileinput.css' %}" rel="stylesheet"/>

{% endblock %}
{% block content %}
    <div class="container.fluid">
        {% if messages %}
            <script>
                {% for msg in messages %}
                    alert('{{ msg.message }}');
                {% endfor %}
            </script>
        {% endif %}
        <div class="row"
             style="background: url({{ TEST_INFO_HEADER_IMG }}); background-size: cover; background-position: bottom; padding-top: 5px; color: #ffffff; height: 120px;">
            <div class="col-md-12">
                <div class="col-md-6 col-md-offset-2">
                    <div class="row">
                        <a class="class-info-title" style="font-size: 60px;"
                           data-id="{{ class.id }}">{{ class.name }}</a>
                    </div>
                    <div class="row">
                        <span>&nbsp;<b>任课教师:</b> {% for teacher in class.teachers %}
                            {{ teacher.display_name }} {% endfor %}&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <span><b>开课时间:</b> {{ class.create_time }}&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <span><b>参课人数:</b> {{ class.students_number }}</span>
                    </div>
                </div>
                <div style="right: 15%; position: absolute; padding-top: 65px;">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#create_new_test_modal"
                            id="create_test_btn" aria-hidden="true" data-class-id="{{ class.id }}"
                            style="float: right; margin-left: 4px;">为课程新建练习
                    </button>
                    {% include './components/test_edit.html' %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="adjust-container-div col-xs-8 col-xs-offset-2">
                <br><br>
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <form id="edit_class_form" class="edit-class-form" method="post" action="">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="edit-class-form-group">
                                    <label for="edit_class_name" class="edit-class-label text-center">课程名称：</label>
                                    <input type="text" name='edit_class_name' class="form-control" id="edit_class_name"
                                           placeholder="请输入课程名称" value="{{ class.name }}" required>
                                </div>
                                <br>
                                <div class="edit-class-form-group">
                                    <label for="edit_class_describe" class="edit-class-label text-center">课程描述：</label>
                                    <textarea name='edit_class_describe' class="form-control edit_class_describe"
                                              id="edit_class_describe" placeholder="请输入课程名描述" required
                                              maxlength="128">{{ class.describe }}</textarea>
                                </div>
                                <br>
                                <div class="edit-class-form-group">
                                    <label for="edit_class_tests" class="edit-class-label text-center">包含练习：</label>
                                    <select class="form-control selectpicker" id="edit_class_tests"
                                            data-selected-text-format="count > 5" multiple title="未选择练习">
                                        {% for test in tests %}
                                            <option class="test-select-option"
                                                    value={{ test.id }}>{{ test.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <input id="edit_class_tests_input" class="form-control" name="edit_class_tests"
                                           style="display: none;">
                                    {% if exist_tests %}
                                        <script>
                                            let tests = {{exist_tests | safe}};
                                            $('#edit_class_tests').selectpicker('val', tests);
                                            $("input[name=edit_class_tests]").val($("#edit_class_tests").val());
                                        </script>
                                    {% endif %}
                                </div>
                                <br>
                                <div class="edit-class-form-group">
                                    <label for="edit_class_files" class="edit-class-label text-center">包含文件：</label>
                                    <input type="file" name="upload-files" id="upload_files_input" value="上传" multiple/>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-default" href="/classes/{{ class.id }}">取消</a>
                                <button type="submit" class="btn btn-primary" id="edit_class_submit">提交</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--流媒体点播-->
    <!--记录-->
    <!--问卷调查功能-->

{% endblock %}
