{% extends 'base.html' %}

{% load static %}
{% block title %}首页{% endblock %}
{% block static %}
<script src="{% static 'js/class_op/main.js' %}"></script>
<link href="{% static 'css/class_op/index.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
<div class="container.fluid">
    {% if messages %}
    <script>
        {% for msg in messages %}
            alert('{{ msg.message }}');
        {% endfor %}
    </script>
    {% endif %}
    {% include 'jumbotron.html' %}
    <div class="row">
        <div class="col-md-5 col-md-offset-2">
            {% include './components/search.html' %}
        </div>
        {% if request.session.identity == 'teacher' %}
        <div class="col-md-1 col-md-offset-2">
            {% include './components/create.html' %}
        </div>
        {% endif %}
    </div>
    <br>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <ul class="nav nav-tabs">
                <li role="presentation"><a href="/classes/index/">全部课程</a></li>
                {% if request.session.identity == 'teacher' %}
                <li role="presentation"><a href="/classes/mine/">我创建的课程</a></li>
                {% endif %}
                <li role="presentation" class="active"><a href="/classes/join/">我参加的课程</a></li>
            </ul>
            <br><br>
        </div>
    </div>
    {% include './components/classes_list.html' %}
</div>

<!--流媒体点播-->
<!--记录-->
<!--问卷调查功能-->

{% endblock %}
