<form class="" role="search">
    <div class="input-group">
        <span class="input-group-addon" style="background-color: #2b669a; color: #ffffff;">搜索课程</span>
        <input type="text" style="width: 100%;" class="form-control" placeholder="请输入课程名称">
        <span class="input-group-btn">
            <button type="submit" class="btn btn-default">搜索</button>
        </span>
    </div>
</form>