<div class="row" style=" margin-top: 60px;">
    <div class="col-md-8 col-md-offset-2">
        {% for set2 in join_classes %}
            <div class="row">
            {% for class in set2 %}
                <div class="col-md-6">
                    <div class="row" style="display: flex; width: 100% ;height: 140px;border-radius: 12px 12px 12px 12px; padding: 10px 10px 10px 1px;
                box-shadow: 4px 4px 5px#9b9b9b; border: #0f0f0f solid 1px;">
                        <div style="height: 112px;width: 150px">
                            <a href="/grade/{{ class.id }}/student/{{user_id}}">
                                <img class="class-cover" style="border-radius: 6px 6px 6px 6px; margin-right: 10px; box-shadow: 4px 4px 3px #888888;"
                                          src="{{ class.cover }}">
                            </a>
                        </div>
                        <div class="col-md-10">
                    <div class="row">
                        <div class="class-title-info">
                            <p>课程名：
                               <a class="class-title" href="/grade/{{ class.id }}/student/{{user_id}}" title="{{ class.name }}">
                                   {{ class.name }}
                              </a>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" style="padding-left: 0px;padding-right: 0px ">
                            <p>任课老师：{{class.teachers}}</p>
                        </div>
                        <div class="col-md-3" style="padding-right: 0px; padding-left: 0px">
                            <p class="class-detail-info">
                                <i class="glyphicon glyphicon-user"></i>
                                {{ class.students_number }}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <p>课程简介：{{class.describe}}</p>
                    </div>
                </div>
                    </div>
                </div>
            {% endfor %}
            </div>
            <br><br>
        {% endfor %}
    </div>
</div>