<div class="modal fade" id="student_test" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<div class="modal-title" id="username" style="font-weight: 700; font-size: 20px"></div>
			</div>
			<div class="modal-body">
				<table class="table" id="table1">
				</table>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>