<div class="row" style=" margin-top: 60px;">
    <div class="col-md-8 col-md-offset-2">
        {% for set2 in page_data %}
            <div class="row">
                {% for class in set2 %}
                    <div class="col-md-6">
                        <div class="row" style="display: flex; width: 100% ;height: 140px;border-radius: 12px 12px 12px 12px; padding: 10px 10px 5px 10px;
                box-shadow: 4px 4px 5px#9b9b9b; border: #0f0f0f solid 1px;">

                            <div style="height: 112px; width: 150px">
                                <a href="/grade/{{ class.id }}">
                                    <img class="class-cover"
                                         style="border-radius: 6px 6px 6px 6px; margin-right: 10px; box-shadow: 4px 4px 3px #888888;"
                                         src="{{ class.cover }}">
                                </a>
                            </div>
                            <div class="grade-title-info" style="width: 500px">
                                <div class="row"
                                     style="font-weight: 700; font-size: 18px; padding-left: 20px; margin-bottom: 10px">
                                    课程名：
                                    <a class="grade-class-title" href="/grade/{{ class.id }}" title="{{ class.name }}">
                                        {{ class.name }}
                                    </a>
                                </div>
                                <div class="row" style="margin-bottom: 10px; padding-left: 20px">
                                    <div class="col-md-3" style="padding-left: 0px"><p style="margin-bottom: 0px">
                                        平均分：100</p></div>
                                    <div class="col-md-3">
                                        <div class="class-detail-info">
                                            <i class="glyphicon glyphicon-user"></i>
                                            {{ class.students_number }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="padding-left: 20px">
                                    <div class="col-md-2" style="padding-left: 0px">
                                        <p style="margin-bottom: 0px">课程简介：</p>
                                    </div>
                                    <div class="col-md-10" style="padding-left: 0px">
                                        {{ class.describe }}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                {% endfor %}
            </div>
            <br><br>
        {% endfor %}
    </div>
</div>