.new-test-form-group {
	display: flex;
	color: #333;
}

.new-test-label {
	width: 20%;
	display: flex;
	align-items: center;
	padding-left: 5px;
	font-size: 16px;
	margin-bottom: 0px;
}

.new-test-dropdown {
	font-size: 14px;
}

.new-test-describe {
	resize: none;
}

.new-test-img-preview {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 100px;
	padding: 40px;
	border: solid 1px;
	background-color: #FFFFFF;
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.new-test-default-cover {
	width: 100%;
	height: 100%;
}

#new_test_img_uploader {
	width: 0px;
}