.row {
	margin-left: 0px;
	margin-right: 0px;
}

.form-control {
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}

.new-class-form-group {
	display: flex;
	flex-direction: row;
}

.jumbotron-img {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

.new-class-label {
	display: flex;
	width: 20%;
	align-items: center;
	padding-left: 5px;
	font-size: 16px;
	margin-bottom: 0px;
}

.new-class-describe {
	height: 140px !important;
}

.new-class-dropdown {
	font-size: 14px;
}

.new-class-img-preview {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 100px;
	padding: 40px;
	border: solid 1px;
	background-color: #FFFFFF;
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.adjust-list {
	width: 100%;
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
}

.class-info {
	width: 250px;
	height: 280px;
	margin-left: 15px;
	margin-right: 15px;
	box-shadow: 0 0 12px rgba(0, 0, 0, .1);
	border-radius: 6px 6px 6px 6px;
}

.test-info {
	width: 220px;
	height: 240px;
	margin-left: 15px;
	margin-right: 15px;
	box-shadow: 0 0 12px rgba(0, 0, 0, .1);
	border-radius: 6px 6px 6px 6px;
}

.class-info:hover, .test-info:hover {
	box-shadow: 0 0 12px rgba(0, 0, 0, .3);

}

.test-cover {
	width: 220px;
	height: 160px;
}

.class-cover, .test-cover {
	border-radius: 6px 6px 0 0; /*增加一个圆角边框*/
}

.class-title-info, .test-title-info {
	width: 210px;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	font-size: 16px;
	font-weight: 600;
	color: #000000;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#new_class_img_uploader {
	width: 0;
}


a.class-title, a.test-title:link {
	color: #000000;
}

/* 未被访问的链接 */
a.class-title, a.test-title:visited {
	color: #000000;
}

/* 已被访问的链接 */
a.class-title:hover, a.test-title:hover {
	color: #66CCFF;
	cursor: pointer;
}

/* 鼠标指针移动到链接上 */
a.class-title, a.test-title {
	color: #000000;
	text-decoration: none;
}

.class-info-title {
	color: #FFFFFF;
	font-size: 35px;
	font-weight: 700;
}

.class-info-title:hover {
	color: #e0e0e0;
	cursor: pointer;
	text-decoration: none;
}

.class-detail-info {
	margin-top: 10px;
}

.show-test-detail-btn {
	width: 220px;
	border-radius: 6px 6px 0 0;
	border: none;
	padding: 0px;
}

.modal-dialog {
	margin-top: 60px;
}

.divider-line {
	height: 1px;
	border-bottom: solid 1px #000000;
}

.divider-line-shadow {
  height: 1px;
  background-color: #f8f8f8;
  box-shadow: 0 0px 8px 0 rgba(0,0,0,.1);
}

.class-info-tab li a {
  color: black;
  border-right: dashed 1px #e0e0e0;
  border-radius: 0px;
	cursor: pointer;
}

.class-info-tab li a:hover {
	background-color: #eeeeee;
}

.class-content-container {
	display: flex;
	white-space: pre-line;
	font-size: 14px;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	max-height: 1000px;
}

.class-content-box {
	width: 100%;
	box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.12);
	border-radius: 4px;
	max-height: 800px;
}

.class-content-line {
	height: 1px;
	border-bottom: solid 1px #000000;
}

.class-selected-tab {
	border-bottom: solid 2px #d8d8d8;
	background-color: #eaeaea;
}

.class-content-chapter-inline-btn {
	transform:translateY(-18px);
	float: right;
	font-size: 14px;
	border: 0;
	background: 0;
	color: #2077aa;
}

.class-content-chapter-source-btn {
	background-color: transparent;
	border: 0;
	color: #66ccff;
	font-size: 14px;
	margin-top: 40px;
	margin-left: 30px;
}