{% load static %}
<script src="{% static 'js/class_op/class_content_source.js' %}"></script>

<div class="adjust-list" style="margin-top: 20px;">
    <div class="class-content-container">
        <div class="class-content-box">
            <div style="padding-left: 40px;padding-right: 40px;">
                <b style="font-size: 20px;">课程练习:</b>
                <div class="row class-content-line"></div>
                <div style="white-space: nowrap; margin-top: 25px; max-height: 600px; overflow: auto;">
                    {% include './tests_list.html' %}
                </div>
            </div>
        </div>
    </div>
    <div class="class-content-container" style="margin-top: 25px;">
        <div class="class-content-box">
            <div style="padding-left: 40px;padding-right: 40px;">
                <b style="font-size: 20px;">课程资料:</b>
                <div class="row class-content-line"></div>
                <div style="white-space: nowrap; margin-top: 25px; max-height: 600px; overflow: auto;">
                    {% include './files_list.html' %}
                </div>
            </div>
        </div>
    </div>
</div>