<div class="adjust-list" style="margin-top: 20px;">
    <div class="class-content-container">
        <div class="class-content-box" style="width: 66.6%;">
            <div style="padding-left: 40px;padding-right: 40px;">
                <b style="font-size: 20px;">课程简介:</b>
                <div class="row class-content-line"></div>
                <div style="font-size: 18px; word-break:break-all;">&nbsp;&nbsp;&nbsp;&nbsp;{{ class.describe }}
                </div>
            </div>
        </div>
        <div class="class-content-box" style="width: 33.3%; margin-left: 15px;">
            <div style="padding-left: 40px;padding-right: 40px;">
                <b style="font-size: 20px;">教师介绍:</b>
                <div class="row class-content-line"></div>
                <div style="font-size: 18px; word-break:break-all;">
                </div>
            </div>
        </div>
    </div>
</div>

