{% load static %}
<script src="{% static 'js/bootstrap-select.min.js' %}"></script>
<script src="{% static 'js/class_op/class_content_chapter.js' %}"></script>
<link href="{% static 'css/bootstrap-select.min.css' %}" rel="stylesheet"/>
{% include './test_detail.html' %}

<div class="adjust-list" style="margin-top: 20px;">
    <div class="class-content-container">
        <div class="class-content-box">
            <div style="padding-left: 40px;padding-right: 40px;">
                <div style="white-space: nowrap;">
                    <b style="font-size: 20px;">课程简介:</b>
                    {% csrf_token %}
                    <button class="btn btn-danger" id="edit_class_content_cancel"
                            style="display: none; float: right; padding: 2px 6px;">取消
                    </button>
                    <button class="btn btn-success" id="edit_class_content_confirm"
                            style="display: none; float: right; padding: 2px 6px; margin-right: 10px;">提交
                    </button>
                    <button class="btn btn-info" id="edit_class_content_chapter"
                            style="float: right; padding: 2px 6px;">编辑
                    </button>
                </div>
                <div class="row class-content-line"></div>
                <input type="hidden" id="class_content_chapter_data" value="{{ chapters }}">
                <input type="hidden" id="class_content_chapter_source_map" value="{{ chapters_source_map }}">
                <div id="class_content_chapter_tree"></div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="chapter_edit_modal" style="position: absolute; left: 0px; top: 0px;" tabindex="-1"
         role="dialog">
        <div class="modal-dialog" style="position: absolute; margin: 0px;">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-group new-class-form-group">
                        <label class="new-class-label">章节标题:</label>
                        <input class="form-control" id="chapter_edit_modal_input_title" style="width: 550px;"
                               placeholder="输入编辑内容">
                    </div>
                    <div class="form-group new-class-form-group">
                        <label class="new-class-label">章节描述:</label>
                        <input class="form-control" id="chapter_edit_modal_input_title" style="width: 550px;"
                               placeholder="输入编辑内容">
                    </div>
                    <div class="form-group new-class-form-group">
                        <label class="new-class-label">章节资源:</label>
                        <select class="form-control selectpicker" id="chapter_edit_modal_select_source"
                                data-selected-text-format="count > 5" multiple title="未选择资源">
                            {% for test in tests %}
                                <option class="test-select-option"
                                        value={{ test.id }}>{{ test.name }}</option>
                            {% endfor %}
                            {% for file in files %}
                                <option class="test-select-option"
                                        value={{ file }}>{{ file }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="chapter_edit_modal_confirm">
                        确定
                    </button>
                    <button type="button" class="btn" data-dismiss="modal">关闭</button>
                </div>
            </div>

            <br>
        </div>
    </div>
</div>

