{% load static %}

<div class="row class-list">
    <div class="adjust-list">
        {% for set4 in page_data %}
            <div class="row" style="display: flex; width: 1200px; margin-bottom: 30px;">
            {% for class in set4 %}
                <div class="class-info">
                    <a href="/classes/{{ class.id }}">
                        {% if class.cover == "?w=250&h=200" %}
                            <img class="class-cover" src={% static 'img/default_cover.jpg' %}>
                        {% else %}
                            <img class="class-cover" src="{{ class.cover }}">
                        {% endif %}
                    </a>
                    <div class="class-title-info">
                        <a class="class-title" href="/classes/{{ class.id }}" title="{{ class.name }}">
                            {{ class.name }}
                        </a>
                        <p class="class-detail-info">
                            <i class="glyphicon glyphicon-user"></i>
                            {{ class.students_number }}
                        </p>
                    </div>
                </div>
            {% endfor %}
            </div>
            <br><br>
        {% endfor %}
    </div>
</div>