<button class="btn btn-primary" data-toggle="modal" data-target="#create_new_class_modal" id="create_new_class_btn">创建新课程</button>

<div class="modal fade" id="create_new_class_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"><b>创建新课程</b></h4>
            </div>
            <div class="modal-body">
                <form id="new_class_form" class="new-class-form" method="post" target="hidden-post-frame">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="new-class-form-group">
                            <label for="new_class_name" class="new-class-label text-center">课程名称：</label>
                            <input type="text" name='new_class_name' class="form-control" id="new_class_name" placeholder="请输入课程名称" autofocus required>
                        </div>
                        <br>
                        <div class="new-class-form-group">
                            <label for="new_class_describe" class="new-class-label text-center">课程描述：</label>
                            <textarea name='new_class_describe' class="form-control new-class-describe" id="new_class_describe" placeholder="请输入课程描述" required maxlength="128"></textarea>
                        </div>
                        <br>
                        <input name="new_class_cover" id="new_class_cover" style="height: 0px; width: 0px; border: 0; padding: 0;">
                    </div>
                </form>
                <div class="new-class-form-group">
                    <label for="new_class_img_uploader" class="new-class-label text-center">上传封面：</label>
                    <button id="new_class_img_upload_btn" class="new-class-img-preview" url="{{ IMG_SERVER }}">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <input type="file" id="new_class_img_uploader" accept=".jpg, .jpeg, .png">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="submit" class="btn btn-primary" id="new_class_submit">确定</button>
            </div>
        </div>
    </div>
</div>