<div class="adjust-list">
    {% for file in files %}
        <div class="row" style="display: flex; width: 100%; margin-bottom: 30px;">
            <a href="/static/uploads/{{ class.id }}/{{ file }}">{{ file }}</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/api/delete_file/{{ class.id }}/{{ file }}">删除</a>
        </div>
    {% endfor %}
</div>