<div class="" role="search">
    <div class="input-group">
        <span class="input-group-addon" style="background-color: #2b669a; color: #ffffff;">搜索课程</span>
        <input type="text" class="form-control" id="search_input_class" style="width: 100%;"  placeholder="请输入课程名称">
        <span class="input-group-btn">
            <button class="btn btn-default" id="search_btn_class">搜索</button>
        </span>
    </div>
</div>