{% load static %}
{% include './test_detail.html' %}
<div class="adjust-list">
    {% for set4 in tests %}
        <div class="row" style="display: flex; width: 1000px; margin-bottom: 30px;">
            {% for test in set4 %}
                <div class="test-list-item">
                    <div class="test-info " data-id={{ test.id }}>
                        <button class="show-test-detail-btn test-title open-test-detail" data-toggle="modal"
                                data-target="#show_test_detail_modal">
                            {% if test.cover == "?w=220&h=160" %}
                                <img class="test-cover" src="{% static 'img/default_cover.jpg' %}">
                            {% else %}
                                <img class="test-cover" src="{{ test.cover }}">
                            {% endif %}
                        </button>
                        <div class="test-title-info" data-id={{ test.id }}>
                            <a class="test-title open-test-detail" data-toggle="modal"
                               data-target="#show_test_detail_modal" title="{{ test.name }}">
                                {{ test.name }}
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>