{% load static %}
<div class="modal fade" id="show_test_detail_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"><b>练习详情</b></h4>
            </div>
            <div class="modal-body">
                <div id="new_class_form" class="new-class-form">
                    <div class="form-group">
                        <div style="display: flex; flex-direction: row;">
                            <div>
                                <img class="test-detail-cover" id="test_detail_cover">
                            </div>
                            <div style="display: flex; flex-direction: column; width: 100%;">
                                <div class="new-class-form-group" style="height: 30px; margin: 10px 0px 10px 20px;">
                                    <label class="new-class-label text-center"
                                           style="width: 100px!important;">练习名称：</label>
                                    <div id="test_detail_name" style="white-space: pre-line; font-size: 18px;"></div>
                                </div>
                                <div class="new-class-form-group" style="height: 30px; margin: 10px 0px 10px 20px;">
                                    <label class="new-class-label text-center"
                                           style="width: 100px!important;">创建教师：</label>
                                    <div id="test_detail_teacher" style="white-space: pre-line; font-size: 18px;"></div>
                                </div>
                            </div>
                            <button id="do_test_btn" class="btn btn-default">开始做练习</button>
                        </div>
                        <br>
                        <div class="new-class-form-group">
                            <label class="new-class-label text-center">练习描述：</label>
                            <div id="test_detail_describe" style="white-space: pre-line; font-size: 18px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="jump_to_test_btn">转到练习页面</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>