/*搜索框样式*/
.form-control {
  position: relative;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
/*详情样式按钮*/
.student-grade-detail {
    background: #FFFFFF;
}
.grade-class-title {
    font-weight: 700;
}
.grade-title-info {
	width: 500px;
	font-size: 16px;
	color: #000000;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.jumbotron-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;/*下边距*/
}
/*单个课程成绩页面课程名*/
.grade-class-info-title {
    font-size: 35px;
    font-weight: 700;
}
/*成绩界面显示所有课程的列表*/
.grade-list {
	width: 1200px;
	height: 90px;
	margin-left: 25px;  /*左边距*/
	margin-right: 25px;
	box-shadow: 0 0 12px rgba(0, 0, 0, .1);
	border-radius: 6px 6px 6px 6px;/*阴影*/
    background-color:#2b669a;/*某种蓝色*/
    justify-content: center;
}

/*展示成绩信息的框*/
.grade-info {
    width: 1000px;
    margin-top: 0px;
    margin-left: 100px;
    margin-right: 0px;
    font-size: 16px;/*字体大小*/
    font-weight: 500;/*字体粗细*/
    color: #000000;
    white-space: nowrap;/*段落中文本不换行*/
    overflow: hidden;/*隐藏多余文本*/
    text-overflow: ellipsis;/*修剪文本*/
}
a.grade-test-title{
    color: #000000;
    text-decoration: none;
}
.grade-test-info {
	width: 100px;
	height: 100px;
	margin-left: 25px;
	margin-right: 25px;
	box-shadow: 0 0 12px rgba(0, 0, 0, .1);
	border-radius: 6px 6px 6px 6px;
}
.grade-test-title-info {
    width: 100px;
    margin-top: 0px;
    font-size: 14px;
    font-weight: 500;
    color: #000000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}
.grade-test-cover {
	border-radius: 6px 6px 0 0;
}
.grade-show-test-detail-btn {
    width: 100px;
    border-radius: 6px 6px 0 0;
    border: none;
    padding: 0px;
}
/*平均分*/
.average {
    color: #d43f3a;
}
/*及格率*/
.pass-rate {
    color: #d43f3a;
}
/*优良率*/
.good-rate {
    color: #d43f3a;
}
/*学生人数*/
.stu-number {
    color: #0f0f0f;
}

.adjust-list {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.hardworking-men-title, .class-news-title {
    height: 60px;
    font-family: 楷体;
    font-size: 40px;
    text-align: center;
}
.hardworking-men {
    border: #0f0f0f 1px solid;
    width: 100%;
    border-radius: 20px 20px 20px 20px;
    box-shadow: #d9d6d6 6px 6px 3px;
}
.statistics-title {
    height: 60px;
    font-family: 楷体;
    font-size: 40px;
    text-align: center;
}
.statistics {
    border: #0f0f0f 1px solid;
    height: 500px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: #d9d6d6 6px 6px 3px;
}