<template>
    <div class="app">
        <el-container>
            <el-aside class="app-side app-side-left app-side-expanded">
                <div class="app-side-title">
                    <a class="app-side-logo" href="/">模拟训练系统</a>
                </div>
                <div>
                    <el-menu class="el-menu-vertical-demo"
                             :default-openeds="openedTestInfo">
                        <el-submenu index="test-info" class="expanded app-side-submenu-title">
                            <template slot="title">
                                <span slot="title">练习信息</span>
                            </template>
                            <el-menu-item class="app-side-element">练习名称：{{test_name}}</el-menu-item>
                            <el-menu-item class="app-side-element">练习作者:{{test_teacher}}</el-menu-item>
                            <!-- <el-menu-item index="timer">计时器</el-menu-item> -->
                        </el-submenu>

                        <el-submenu index="test-description" class="expanded app-side-submenu-title">
                            <template slot="title">
                                <span slot="title">练习描述</span>
                            </template>
                            <el-menu-item class="app-side-element">{{test_describe}}</el-menu-item>
                        </el-submenu>

                        <el-submenu index="do-test-state" class="open expanded app-side-submenu-title">
                            <template slot="title">
                                <span slot="title">本次练习完成状态</span>
                            </template>
                            <el-menu-item class="app-side-element">点击次数: {{getClickCount}}</el-menu-item>
                            <el-menu-item class="app-side-element">花费时间: {{display_time_text}}</el-menu-item>
                        </el-submenu>
                    </el-menu>

                </div>
            </el-aside>

            <el-container>
                <el-header class="app-header">
                    <el-menu class="el-menu-demo tab-page" mode="horizontal" @select="headerSelected">
                        <el-menu-item id="next_page" class="app-header-dropdown" index="nextPage">下一页</el-menu-item>
                        <el-menu-item id="handover" class="app-header-dropdown" index="handover">提交结果</el-menu-item>
                    </el-menu>
                    <pageSlider ref="pageSlider" class="app-header-slider" :pageTurningFlag="pageTurningFlag"
                                @changePage="changePage"></pageSlider>
                    <div class="app-header-userinfo">
                        <el-dropdown class="app-header-dropdown" trigger="hover" :hide-on-click="true">
            <span class="el-dropdown-link" style="display: inline-block; height: 100%; width: 100%;">
            {{ user.name }}
            </span>
                            <el-dropdown-menu slot="dropdown">
                                <el-dropdown-item>消息提醒</el-dropdown-item>
                                <el-dropdown-item>个人信息</el-dropdown-item>
                                <el-dropdown-item divided
                                                  @click="userLogout">退出登录
                                </el-dropdown-item>
                            </el-dropdown-menu>
                        </el-dropdown>
                    </div>
                </el-header>
                <el-main class="app-main">
                    <div class="app-main-root">
                        <div id="adjustElementContainer" class="app-main-container" onselectstart="return false"
                             @click="addClickCount">

                        </div>
                    </div>
                </el-main>
            </el-container>
        </el-container>
    </div>
</template>

<script>
    import Vue from 'vue'
    import store from '../store'
    import {mapGetters} from 'vuex'
    import {mapActions} from 'vuex'
    import {getTestData, postData} from '../api/api.js'

    import PageSlider from './PageSlider.vue'
    import MateElement from './MateElement.vue'

    import '../assets/css/mainPage.scss'
    import {getData} from "../../create_test/api/api";

    const NOTURNNING = 0;
    const TURNNING = 1;
    const FINAL = 2;

    export default {
        name: "MainPage",
        components: {
            pageSlider: PageSlider
        },
        computed: {
            ...mapGetters({
                asideMargin: 'getAsideMargin',
                headerMargin: 'getHeaderMargin',
                elementsData: 'getElementsData',
                elementData: 'getSingleElementData',
                dialogSwitch: 'getDialog',
                pageData: 'getPageData',
                currentPage: 'getCurrentPage',
                deleteSwitch: 'getDelete',
                checkSwitch: 'checkSwitch',
                getLogicDataChangeFlag: 'getLogicDataChangeFlag',
                getClickCount: 'getClickCount',
            }),
        },
        watch: {
            getLogicDataChangeFlag: function () {
                this.checkTurningPage();
            }
        },
        data() {
            return {
                test_data: "",
                user: {"name": "", "message": "", "info": ""},
                dragElementList: [],
                elementId: 1,
                pageTurningFlag: NOTURNNING,
                finishedPage: [],

                openedTestInfo: ['test-info', 'test-description', 'do-test-state'],
                test_name: "",
                test_teacher: "",
                test_describe: "",

                start_time: [],
                spend_time: [],
                display_time: [0, 0, 0],
                display_time_text: "0:0:0",

                spend_click: [],
            }
        },
        methods: {
            ...mapActions([
                'setAsideMargin',
                'setHeaderMargin',
                'addElementData',
                'closeDialog',
                'addPageData',
                'savePageData',
                'setDelete',
                'setPageData',
                'addLogicData',
                'resetClickCount',
                'addClickCount',
                'stopClickCount',
            ]),
            userLogout() {
                console.log("用户退出登录");
            },
            headerSelected(index, indexPath) {
                switch (indexPath[0]) {
                    case "nextPage": {
                        document.getElementById('next_page').style.color = '#66CCFF';
                        setTimeout(function () {
                            document.getElementById('next_page').style.color = '#000000';
                        }, 2000);
                        if (this.pageTurningFlag === NOTURNNING) {
                            this.$alert('请完成当前页面任务再前往下一页', '提示', {confirmButtonText: '确定'});
                            return false;
                        }
                        if (this.pageTurningFlag !== FINAL) {
                            this.$refs.pageSlider.pageChange(this.currentPage + 1);
                            return false;
                        } else {
                            this.$alert('当前已经为最后一页', '提示', {confirmButtonText: '确定'});
                            return false;
                        }
                    }
                    case "handover": {
                        document.getElementById('handover').style.color = '#BB0000';
                        setTimeout(function () {
                            document.getElementById('handover').style.color = '#000000';
                        }, 2000);
                        if (this.pageTurningFlag === FINAL) {
                            let data = {
                                'test_name': this.test_name,
                                'spend_time': this.spend_time,
                                'spend_click': this.spend_click,
                            }
                            postData('send_do_test_result/', data);
                            this.$alert('已提交，即将返回课程页面', '提示', {
                                confirmButtonText: '确定',
                            }).then(() => {
                                getTestData('find_current_class/').then(data => {
                                    window.location.href = "/classes/" + data + "/";
                                })
                            })
                            return false;
                        } else {
                            return false;
                        }
                    }
                }
                return false;
            },
            mountAdjustElement(X, Y, width, height, attr) {
                let Element = Vue.extend(MateElement);
                let element = new Element({
                    "width": width,
                    "height": height,
                    "X": X,
                    "Y": Y,
                    "elementId": "dragElement-" + this.elementId,
                    propsData: {
                        element_attr: attr,
                    },
                    store,
                }).$mount();
                element.$el.setAttribute("id", "dragElement-" + this.elementId);
                this.dragElementList.push(element);
                let container = document.getElementById("adjustElementContainer");
                container.appendChild(element.$el);
                element.init();
            },
            changeElementBg(para) {
                let dom = document.getElementById("dragElement-" + para["id"]);
                dom.style.backgroundImage = "url(" + para["url"] + ")";
            },
            refreshBg(url) {
                let dom = document.getElementById("adjustElementContainer");
                dom.style.backgroundImage = "url(" + url + ")";
            },
            releaseContent() {
                let container = document.getElementById("adjustElementContainer");
                let children = container.childNodes;
                for (let c = children.length; c > 0; c--) {
                    this.dragElementList[0].unBindEvent();
                    this.dragElementList[0].$destroy();
                    if (this.dragElementList[0]._watcher) {
                        this.dragElementList[0]._watcher.teardown();
                    }
                    let i = this.dragElementList[0]._watchers.length
                    while (i--) {
                        this.dragElementList[0]._watchers[i].teardown()
                    }
                    // remove reference from data ob
                    // frozen object may not have observer.
                    if (this.dragElementList[0]._data.__ob__) {
                        this.dragElementList[0]._data.__ob__.vmCount--
                    }
                    this.dragElementList.splice(0, 1);
                    container.removeChild(children[0]);
                }
                //重设Id
                this.elementId = 1;
                //将背景界面清空
                //需要在elementData[0]里面加入背景和控制相关的各种数据
            },
            resizeElementWhenMounted(_this, width, height, top, left) {
                let originParent = _this.elementData(0);
                let currentParent = document.getElementById("adjustElementContainer")
                //按比例缩放元素
                let scaleW = currentParent.clientWidth / originParent.attributes.width;
                let scaleH = currentParent.clientHeight / originParent.attributes.height;
                left = left - _this.asideMargin;
                left = Math.round(left * scaleW + parseInt(_this.asideMargin));
                top = top - _this.headerMargin;
                top = Math.round(top * scaleH + parseInt(_this.headerMargin));
                width = Math.round(width * scaleW);
                height = Math.round(height * scaleH);
                return {width, height, top, left};
            },
            loadContent() {
                let elementsData = this.elementsData;
                for (let n in elementsData) {
                    if (n == 0) {//n==0 表示这是背景元素，用来存储页面信息
                        this.refreshBg(elementsData[n].attributes['bgUrl']);
                        this.checkTurningPage();
                        continue;
                    }
                    let attr = elementsData[n].attributes;

                    attr.width = attr.width.replace(/[^0-9.]/ig, '');
                    attr.height = attr.height.replace(/[^0-9.]/ig, '');
                    attr.top = attr.top.replace(/[^0-9.]/ig, '');
                    attr.left = attr.left.replace(/[^0-9.]/ig, '');
                    let size = this.resizeElementWhenMounted(this, attr.width, attr.height, attr.top, attr.left);
                    this.mountAdjustElement(size.left, size.top, size.width, size.height, attr);

                    this.changeElementBg({id: n, url: attr.bgUrl});
                    this.elementId += 1;
                }
                //记录时间
                if (this.start_time.length <= this.currentPage) {
                    let time = new Date();
                    let h = time.getHours();
                    let m = time.getMinutes();
                    let s = time.getSeconds();

                    // 需要组织一个开始时间的列表，把每一页的开始时间都存下来，不然往回翻页就会导致时间记录和点击记录消失
                    // clickcount 需要用一个变量去控制，控制允许clickcount的增加，
                    this.start_time.push([]);
                    this.start_time[this.currentPage].push(h);
                    this.start_time[this.currentPage].push(m);
                    this.start_time[this.currentPage].push(s);

                    //记录点击次数
                    this.resetClickCount();
                }
            },
            changePage() {
                this.releaseContent();
                this.loadContent();
            },
            checkTurningPage() {
                //checkSwitch参数为0表示检测的是下一页跳转条件
                if (this.checkSwitch(0)) {
                    let messageFlag = true;
                    if (this.finishedPage.indexOf(this.currentPage) > -1) {
                        messageFlag = false;
                    } else {
                        this.finishedPage.push(this.currentPage);
                    }
                    if (this.currentPage !== this.pageData.length - 1) {
                        document.getElementById('next_page').style.backgroundColor = "rgba(0, 255, 0, 0.15)";
                        if (messageFlag) {
                            //计算完成当前页花掉的时间
                            if (this.start_time.length > this.currentPage) {
                                 let time = new Date();
                                let h = time.getHours();
                                let m = time.getMinutes();
                                let s = time.getSeconds();
                                this.spend_time.push((h - this.start_time[this.currentPage][0]) * 3600 + (m - this.start_time[this.currentPage][1]) * 60 + (s - this.start_time[this.currentPage][2]));
                            } else {
                                this.spend_time.push(0);
                            }

                            //计算完成当前页面花费的点击次数
                            this.spend_click.push(this.getClickCount);

                            window.alert("恭喜你已经完成本页任务\n请点击下一页继续完成练习");
                        }
                        this.pageTurningFlag = TURNNING;
                    } else {
                        document.getElementById('next_page').style.backgroundColor = "rgba(0, 0, 255, 0.15)";
                        if (messageFlag) {
                            //计算完成当前页花掉的时间
                            if (this.start_time.length > this.currentPage) {
                                 let time = new Date();
                                let h = time.getHours();
                                let m = time.getMinutes();
                                let s = time.getSeconds();
                                this.spend_time.push((h - this.start_time[this.currentPage][0]) * 3600 + (m - this.start_time[this.currentPage][1]) * 60 + (s - this.start_time[this.currentPage][2]));
                            } else {
                                this.spend_time.push(0);
                            }
                            //计算完成当前页面花费的点击次数
                            this.spend_click.push(this.getClickCount);
                            //禁用下一页按钮
                            document.getElementById('handover').style.pointerEvents = "auto";
                            document.getElementById('next_page').style.pointerEvents = "none";
                            console.log(document.getElementById('handover').style);
                            //启用提交按钮

                            //停止更新显示时间
                            clearInterval(this.timer);
                            //停止更新点击次数
                            this.stopClickCount();
                            window.alert("恭喜你已经完成全部任务,请提交结果");
                        }
                        this.pageTurningFlag = FINAL;
                    }
                    messageFlag && (postData('exercise_page_finished/', this.currentPage));
                } else {
                    document.getElementById('next_page').style.backgroundColor = "rgba(255, 0, 0, 0.15)";
                    document.getElementById('handover').style.pointerEvents = "none";
                    document.getElementById('handover').style.pointerEvents = "none";
                    this.pageTurningFlag = NOTURNNING;
                }
            },
            updateDisplayTime() {
                this.display_time[2] += 1;
                if (this.display_time[2] === 60) {
                    this.display_time[1] += 1;
                    this.display_time[2] = 0;
                    if (this.display_time[1] === 60) {
                        this.display_time[0] += 1;
                        this.display_time[1] = 0;
                    }
                }
                this.display_time_text = this.display_time[0] + ':' + this.display_time[1] + ':' + this.display_time[2];
            },
            startDisplayTime() {
                this.timer = setInterval(this.updateDisplayTime, 1000);
            }
        },
        mounted() {
            this.setAsideMargin(232);
            this.setHeaderMargin(45);

            getTestData('find_do_test_by_name/').then(
                data => {
                    let pageData = [];
                    for (let i in data) {
                        let elData = [];
                        for (let ii in data[i]) {
                            let attrStrList = data[i][ii]['attr'].split(',');
                            if (ii == 0) {
                                let content = {
                                    id: data[i][ii]['id'],
                                    zIndex: data[i][ii]['zIndex'],
                                    attributes: {
                                        width: attrStrList[0],
                                        height: attrStrList[1],
                                        bgUrl: attrStrList[2],
                                        turning: attrStrList[3],
                                    },
                                };
                                elData.push(content);
                                continue;
                            }
                            let content = {
                                id: data[i][ii]['id'],
                                zIndex: data[i][ii]['zIndex'],
                                attributes: {
                                    name: attrStrList[0],
                                    type: attrStrList[1],
                                    text: attrStrList[2],
                                    parameters: attrStrList[3],
                                    bgUrl: attrStrList[4],

                                    toSwitch: attrStrList[5],
                                    bySwitch: attrStrList[6],
                                    toState: attrStrList[7],
                                    byState: attrStrList[8],

                                    width: attrStrList[9],
                                    height: attrStrList[10],
                                    left: attrStrList[11],
                                    top: attrStrList[12],

                                    bold: attrStrList[13],
                                    underline: attrStrList[14],
                                    alignLeft: attrStrList[15],
                                    alignCenter: attrStrList[16],
                                    size: attrStrList[17],
                                },
                            };
                            elData.push(content);
                            if (content.attributes.type === "switch" || content.attributes.type === "state") {
                                let logicContent = {
                                    id: content.id,
                                    parameters: content.attributes.parameters,
                                };
                                this.addLogicData(logicContent);
                            }
                        }
                        pageData.push(elData);
                    }
                    this.setPageData(pageData);
                    let _this = this;
                    setTimeout(function () {
                        _this.releaseContent();
                        _this.loadContent();
                    }, 100);
                }, err => {
                    console.log("载入练习内容出错！");
                    console.log(err);
                }
            );
            getTestData('find_do_test_info_by_name').then(
                data => {
                    data = eval(data)[0];
                    this.test_name = data.name;
                    this.test_teacher = data.teacher;
                    data.describe.length > 0 ? this.test_describe = data.describe : this.test_describe = "教师还没有给这个练习添加描述";
                }, err => {
                    console.log("载入练习描述出错！");
                    console.log(err);
                }
            );
            getData('find_user/').then(
                data => {
                    this.user.name = data.name;
                }
            );
            //开始计算显示时间
            this.startDisplayTime();
        },
    }
</script>