<template>
  <div style="position: absolute;background-size: 100% 100%;background-repeat:no-repeat;">
    <elBtn v-if="(isButton && isEnable)" @btnClick="btnClick"></elBtn>
    <elLabel v-if="(isLabel && isEnable)" @labelClick="labelClick" :text="element_attr.text"></elLabel>
    <elInput v-if="(isInput && isEnable)" @inputChange="inputChange" :attr="element_attr"></elInput>
  </div>
</template>

<script>
// @ is an alias to /src
import {mapGetters} from 'vuex';
import {mapActions} from 'vuex';

import ElementBtn from './components/ElementBtn.vue'
import ElementLabel from './components/ElementLabel.vue'
import ElementInput from './components/ElementInput.vue'

export default {
  name: "MateElement",
  props: {
    element_attr: Object,
  },
  components: {
    elBtn: ElementBtn,
    elLabel: ElementLabel,
    elInput: ElementInput,
  },
  computed:{
    ...mapGetters({
      asideMargin: 'getAsideMargin',
      headerMargin: 'getHeaderMargin',
      elementData: 'getSingleElementData',
      checkSwitch: 'checkSwitch',
      checkInput: 'checkInput',
    }),
    getLogicDataChangeFlag(){
      return this.$store.state.logicDataChangeFlag;
    }
  },
  watch: {
    getLogicDataChangeFlag: function(){
      this.isEnable = this.checkSwitch(parseInt(this.id.replace(/[^0-9]/ig, '')));
    },
    isEnable: function(){
      if(this.isEnable){
        document.getElementById(this.id).style.display = "";
      }else{
        document.getElementById(this.id).style.display = "none";
      }
    },
  },
  data() {
    return {
      id: this.$options.elementId,
      mateElement: Object,
      width: this.$options.width,
      height: this.$options.height,
      X: this.$options.X,
      Y: this.$options.Y,
      preParentWidth: 0,
      preParentHeight: 0,
      adjust: null,
      attr: this.element_attr,
      isButton: false,
      isLabel: false,
      isInput: false,
      isTimer: false,
      elementName: "",
      isEnable: false,
    };
  },
  methods:{
    ...mapActions([
      'setElementData',
      'openDialog',
      'setDelete',
      'triggerSwitch',
      'addClickCount',
    ]),
    init(){
      this.mateElement = document.getElementById(this.id);
      this.mateElement.style.width = this.width + 'px';
      this.mateElement.style.height = this.height + 'px';
      this.mateElement.style.left = this.X + 'px';
      this.mateElement.style.top = this.Y + 'px';
    },
    btnClick(){
      this.addClickCount();
      this.triggerSwitch(parseInt(this.id.replace(/[^0-9]/ig, '')));
    },
    labelClick(){
      this.addClickCount();
    },
    inputChange(data){
      data["id"] = parseInt(this.id.replace(/[^0-9]/ig, ''));
      if(this.checkInput(data)){
        this.triggerSwitch(data.id);
      }
    },
    bindEvent(){
      //添加窗口大小改变时的事件监听器
      let _this = this;
      let resizeTimer = null;
      this.listener = function(){
        resizeTimer && clearTimeout(resizeTimer);
        resizeTimer = setTimeout(function(){
          //动态调整位置及大小
          let parent = document.getElementById("adjustElementContainer");
          let myself = document.getElementById(_this.id);

          let scaleW = parent.clientWidth / _this.preParentWidth;
          let scaleH = parent.clientHeight / _this.preParentHeight;
          let l = myself.style.left;
          l = parseInt(l.substr(0, l.length-2)) - _this.asideMargin;
          l = l * scaleW + _this.asideMargin;
          let t = myself.style.top;
          t = parseInt(t.substr(0, t.length-2)) - _this.headerMargin;
          t = t * scaleH + _this.headerMargin;
          let w = myself.clientWidth;
          w = w * scaleW;
          let h = myself.clientHeight;
          h = h * scaleH;
          myself.style.left = Math.round(l) + 'px';
          myself.style.top = Math.round(t) + 'px';
          myself.style.width = Math.round(w) + 'px';
          myself.style.height = Math.round(h) + 'px';
          _this.preParentWidth = parent.clientWidth;
          _this.preParentHeight = parent.clientHeight;

          // 由于在元素中保存的是相对于原始窗口大小的元素大小，所以应该在save的时候由mainPage统一保存，而不是在元素中保存
          // let data = {
          //   width: w + 'px',
          //   height: h + 'px',
          //   left: l + 'px',
          //   top: t + 'px',
          // };
          // let numberId = parseInt(_this.id.replace(/[^0-9]/ig, ''));
          // data = {
          //   data: data,
          //   id: numberId,
          // };
          // _this.setElementData(data);
        }, 100);
      };
      window.addEventListener('resize', this.listener);
    },
    unBindEvent(){
      window.removeEventListener('resize', this.listener);
    },
    handleSelected(index, indexPath){
    },
  },
  mounted() {
    this.$nextTick(function(){
      switch(this.attr.type){
        case "button":
          this.isButton = true;
          break;
        case "label": {
          this.isLabel = true;
          let myself = document.getElementById(this.id);
          myself.style.fontSize = this.element_attr.size + 'px';
          this.element_attr.bold === '1' && (myself.style.fontWeight = "bold");
          this.element_attr.underline === '1' && (myself.style.textDecoration="underline");
          this.element_attr.alignLeft === '1' && (myself.style.textAlign="");
          this.element_attr.alignCenter === '1' && (myself.style.textAlign="center");
          break;
        }
        case "input":
          this.isInput = true;
          break;
      }
      this.isEnable = this.checkSwitch(parseInt(this.id.replace(/[^0-9]/ig, '')));
      if(this.isEnable){
        document.getElementById(this.id).style.display = "";
      }else{
        document.getElementById(this.id).style.display = "none";
      }
      this.bindEvent();
    })
  },
}
</script>
