<template>
    <el-slider
      class="slider"
      v-model="page"
      :step = "1"
      :max = "maxPage"
      :min = "0"
      show-stops
      show-input
      @change = "pageChange"
    >
    <el-input v-model="page"></el-input>
    </el-slider>
</template>

<script>
  import Vue from 'vue'
  import {mapGetters} from 'vuex'
  import {mapActions} from 'vuex'
  import store from '../store'
  import '../assets/css/pageSliderCss.scss'

  export default {
    name: "PageSlider",
    props:{
      pageTurningFlag: Number,
    },
    computed:{
      ...mapGetters({
        currentPage: 'getCurrentPage',
        pageData: 'getPageData',
      }),
    },
    watch:{
      currentPage(){
        this.page = this.currentPage;
        this.page > this.maxPage && (this.maxPage = this.page);
      },
      pageData(){
        this.maxPage = this.pageData.length - 1;
      }
    },
    data(){
      return{
        page: 0,
        maxPage: 0,
      }
    },
    methods: {
      ...mapActions([
        'changePageData',
      ]),
      pageChange(event){
        if(this.currentPage < event){
          if(this.pageTurningFlag === 0){
            this.page = this.currentPage;
            return;
          }else{
            this.changePageData(event).then(() => {
              this.$emit('changePage');
            });
          }
        }
        this.changePageData(event).then(() => {
          this.$emit('changePage');
        });
      },
    },
  }
</script>