{% extends 'base.html' %}
{% load static %}
{% block title %}个人信息{% endblock %}
{% block css %}<link href="{% static 'css/login.css' %}" rel="stylesheet"/>{% endblock %}

{% block content%}

<div>
    You are on your person information page.
    <br><br>
    <label for="id_username">你的用户名：</label>
    <p id="id_username">{{ username }}</p>
    <label for="id_password">你的密码：</label>
    <p id="id_password">{{ password }}</p>
    <label for="id_create_time">你的创建时间：</label>
    <p id="id_create_time">{{ create_time }}</p>
</div>
{% endblock%}