<div class="modal fade" id="teacher_verify_modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><b>教师身份验证</b></h4>
            </div>
            <div class="modal-body">
                <form id="teacher_verify_form" method="post" target="hidden-post-frame">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="teacher_verify_code" class="text-center">教师识别码:</label>
                        <input type="text" name="teacher_verify_code" class="form-control" id="teacher_verify_code"
                               placeholder="请输入教师识别码" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="teacher_verify_submit">确定</button>
            </div>
        </div>
    </div>
</div>