{% load static %}
<script src="{% static 'js/test_op/create_new_test.js' %}"></script>
<script src="{% static 'js/bootstrap-select.min.js' %}"></script>
<link href="{% static 'css/bootstrap-select.min.css' %}" rel="stylesheet"/>


<button class="btn btn-primary" data-toggle="modal" data-target="#create_new_test_modal" id="create_test_btn">创建新练习</button>

<div class="modal fade" id="create_new_test_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"><b>创建新练习</b></h4>
            </div>
            <div class="modal-body">
                <form id="new_test_form" class="new-test-form" action="/tests/create_new_test/" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="new-test-form-group">
                            <label for="new_test_name" class="new-test-label text-center">练习名称：</label>
                            <input type="text" name='new_test_name' class="form-control" id="new_test_name" placeholder="请输入练习名称" autofocus required>
                        </div>
                        <br>
                        <div class="new-test-form-group">
                            <label for="create_test_classes" class="new-test-label text-center">加入班级：</label>
                            <select class="form-control selsectpicker" id="create_test_classes" multiple data-selected-text-format="count > 1" title="未选择班级（可选）"></select>
                            <input id="create_test_classes_input" name="create_test_classes" class="form-control" style="display: none;">
                        </div>
                        <br>
                        <div class="new-test-form-group">
                            <label for="new_test_describe" class="new-test-label text-center">练习描述：</label>
                            <textarea name='new_test_describe' class="form-control new-test-describe" id="new_test_describe" placeholder="请输入练习的描述" required maxlength="128"></textarea>
                        </div>
                        <input name="new_test_cover" id="new_test_cover" style="height: 0px; width: 0px; border: 0; padding: 0;">
                    </div>
                </form>
                <br>
                <div class="new-test-form-group">
                    <label for="new_test_img_uploader" class="new-test-label text-center">上传封面：</label>
                    <button id="new_test_img_upload_btn" class="new-test-img-preview" url="{{ IMG_SERVER }}">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <input type="file" id="new_test_img_uploader" accept=".jpg, .jpeg, .png">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="submit" class="btn btn-primary" id="new_test_submit">确定</button>
                <button type="submit" class="btn btn-primary" id="new_test_submit_edit">确定并开始编辑</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>