{% load static %}
<script src="{% static 'js/test_op/edit_test.js' %}"></script>
<script src="{% static 'js/bootstrap-select.min.js' %}"></script>
<link href="{% static 'css/bootstrap-select.min.css' %}" rel="stylesheet"/>


<button class="btn btn-primary" data-toggle="modal" data-target="#edit_test_modal" id="edit_test_btn">编辑练习<test></test></button>

<div class="modal fade" id="edit_test_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel" style="color: #333;"><b>&nbsp;编辑练习信息</b></h4>
            </div>
            <div class="modal-body">
                <form id="edit_test_form" class="edit-test-form" action="edit/" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="edit-test-form-group">
                            <label for="edit_test_name" class="edit-test-label text-center">练习名称：</label>
                            <input type="text" name='edit_test_name' class="form-control" id="edit_test_name" value="{{ test.name }}" autofocus required>
                        </div>
                        <br>
                        <div class="edit-test-form-group">
                            <label for="edit_test_describe" class="edit-test-label text-center">练习描述：</label>
                            <textarea name='edit_test_describe' class="form-control edit-test-describe" id="edit_test_describe" required maxlength="128">{{ test.describe }}</textarea>
                        </div>
                        <input name="edit_test_cover" id="edit_test_cover" style="height: 0px; width: 0px; border: 0; padding: 0;">
                    </div>
                </form>
                <br>
                <div class="edit-test-form-group">
                    <label for="edit_test_img_uploader" class="edit-test-label text-center">编辑封面：</label>
                    {% if test.cover == "?w=250&h=200" %}
                        <button id="edit_test_img_upload_btn" class="edit-test-img-preview" style="background: url({%  static 'img/default_cover.jpg' %}); background-size: cover;" url="{{ IMG_SERVER }}">
                    {% else %}
                        <button id="edit_test_img_upload_btn" class="edit-test-img-preview" style="background: url('{{ test.cover }}'); background-size: cover;" url="{{ IMG_SERVER }}">
                    {% endif %}

                        <span class="glyphicon glyphicon-plus">

                        </span>
                    </button>
                    <input type="file" id="edit_test_img_uploader" accept=".jpg, .jpeg, .png">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="submit" class="btn btn-primary" id="edit_test_submit">确定</button>
                <button type="submit" class="btn btn-primary" id="edit_test_submit_and_edit">确定并编辑练习内容</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>