<div class="" role="search">
    <div class="input-group">
        <span class="input-group-addon" style="background-color: #2b669a; color: #ffffff;">搜索练习</span>
        <input type="text" class="form-control" id="search_input_test" style="width: 100%;" placeholder="请输入练习名称">
        <span class="input-group-btn">
            <button type="submit" class="btn btn-default" id="search_btn_test">搜索</button>
        </span>
    </div>
</div>