{% load static %}

<div class="row test-list">
    <div class="adjust-list">
        {% for set4 in page_data %}
            <div class="row" style="display: flex; width: 1200px; margin-bottom: 30px;">
            {% for test in set4 %}
                <div class="test-info">
                    <a href="/tests/{{ test.id }}">
                        {% if test.cover == "?w=250&h=200" %}
                            <img class="test-cover" src={% static 'img/default_cover.jpg' %}>
                        {% else %}
                            <img class="test-cover" src="{{ test.cover }}">
                        {% endif %}
                    </a>
                    <div class="test-title-info">
                        <a class="test-title" href="/tests/{{ test.id }}" title="{{ test.name }}">
                            {{ test.name }}
                        </a>
                    </div>
                </div>
            {% endfor %}
            </div>
            <br><br>
        {% endfor %}
    </div>
</div>