html {
  height: 100%;
}


body {
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


.app {
  $solidBorder: 1px solid #eee;
  $sideCollapsedWidth: 66px;
  $sideExpandedWidth: 230px;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  font-size: 1em;
  width: 100%;
  height: 100%;
  min-width: 900px;
  border: $solidBorder;
  display: flex;
  display: -webkit-flex;
  flex-flow: row nowrap;

  &-side {
    width: 230px;
    height: 100%;
    background-color: #FFFFFF !important;
    font-weight: 700;
    border-right: $solidBorder;

    &-left {
      background-color: rgb(238, 241, 246);
    }

    &-collapsed {
      width: 66px !important;
    }

    &-expanded {
      width: 230px !important;
    }

    &-title {
      height: 40px;
      border: $solidBorder;
      text-align: center;
      vertical-align: middle;
      display: -webkit-flex;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-logo {
      text-decoration: none;
      color: black;
    }

    &-info {
      font-size: 14px;
      line-height: 42px;
      color: #303133;

      &-item-content {
        font-weight: 300;
      }
    }

    &submenu {
      &-title {
        height: 50px !important;
        line-height: 50px !important;
      }
    }

    &-tree {
      border-top: 1px solid #000000;
      width: 228px;
    }
  }

  &-header {
    width: 100%;
    height: 42px !important;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    border-bottom: $solidBorder;

    &-slider {
      position: absolute;
      right: 120px;
      width: 600px;
    }

    &-userinfo {
      position: absolute;
      right: 40px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    &-dropdown {
      height: 42px !important;
      line-height: 42px !important;
      border-bottom: 0px !important;
    }
  }

  &-main {
    font-size: 1em;
    width: 100%;
    height: 100%;
    padding: 2px !important;
    overflow-x: scroll;
    overflow-y: scroll;

    &-root {
      display: -webkit-flex !important;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }

    &-container {
      background-position: center;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;

    }

    &-background {
    }
  }
}

.tempDiv {
  border: 1px dashed blue;
  background: #5a72f8;
  position: absolute;
  width: 0;
  height: 0;
  filter: alpha(opacity=10);
  opacity: 0.1;
}

.el-submenu__title {
  height: 42px !important;
  line-height: 42px !important;
}

.el-popup-parent--hidden {
  padding-right: 0 !important;
}

.el-upload--text {
  width: 100%;
}
