.mel {
  &-btn {
    width: 100%;
    height: 100%;
    padding: 0px;
    border: 0px;
    opacity: 0;
  }
  &-label {
    width: 100%;
    height: 100%;
    padding: 0px;
    border: 0px;
    line-height:24px;
    white-space: pre-wrap;
  }
  &-input {
    width: 100%;
    height: 100%;
    padding: 0px;
    border: solid 1px;
    textarea {
      font-size:14px;
      width: 100%;
      height: 100%;
      margin: 0px;
      border: 0px;
      padding: 0px;
      border-radius: 0px;
      resize: none;
      overflow: hidden;
    }
  }
}
