{% extends 'base.html' %}

{% load static %}
{% block title %}首页{% endblock %}
{% block static %}
    <script src="{% static 'js/test_op/main.js' %}"></script>
    <link href="{% static 'css/test_op/index.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
<div class="container.fluid">
    {% if messages %}
        <script>
            {% for msg in messages %}
                alert('{{ msg.message }}');
            {% endfor %}
        </script>
    {% endif %}
    {% include  'jumbotron.html' %}
    <div class="row">
        <div class="col-md-5 col-md-offset-2">
            {% include './components/search.html' %}
        </div>
        {% if request.session.identity == 'teacher' %}
            <div class="col-md-1 col-md-offset-2">
                {% include './components/create.html' %}
            </div>
        {% endif %}
    </div>
    <br>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <ul class="nav nav-tabs">
                <li role="presentation"><a href="/tests/index/">全部练习</a></li>
                {% if request.session.identity == 'teacher' %}
                    <li role="presentation" class="active"><a href="/tests/mine">我创建的练习</a></li>
                {% endif %}
                <li role="presentation"><a href="/tests/join/">我做过的练习</a></li>
            </ul>
            <br><br>
        </div>
    </div>
    {% include './components/test_list.html' %}
</div>

<!--流媒体点播-->
<!--记录-->
<!--问卷调查功能-->


{% endblock %}
