{% extends 'base.html' %}

{% load static %}
{% block title %}首页{% endblock %}
{% block static %}
    <script src="{% static 'js/test_op/main.js' %}"></script>
    <link href="{% static 'css/test_op/index.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
<div class="container.fluid">
    {% if messages %}
        <script>
            {% for msg in messages %}
                alert('{{ msg.message }}');
            {% endfor %}
        </script>
    {% endif %}
    <div class="row" style="background: url({{ TEST_INFO_HEADER_IMG }}); background-size: cover; background-position: bottom; padding-top: 30px; color: #ffffff;height: 158px;">
        <div class="col-md-12">
            <div class="col-md-6 col-md-offset-2">
                <div class="row">
                    <a class="test-info-title" style="font-size: 60px; display: inline;" href="/tests/{{test.id}}">{{test.name}}</a>
                    {% if class_name %}
                        <a class="test-info-title" style="font-size: 30px; display: inline" href="/classes/{{class_id}}/">#{{ class_name }}</a>
                    {% endif %}
                </div>
                <div class="row">
                    <span><b>创建者:</b> {{test.teacher.username}}&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    <span>&nbsp;<b>创建时间:</b> {{ test.create_time }}&nbsp;&nbsp;&nbsp;&nbsp;</span>
                </div>
            </div>
            <div style="right: 15%; position: absolute; padding-top: 85px;">
                <span>
                    {% if is_creator %}
                        {% include './components/edit.html' %}
                        <button class="btn btn-danger" id="delete_test_btn">
                            删除练习
                        </button>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="adjust-list" style="margin-bottom: 20px;">
            <div style="white-space: pre-line; font-size: 18px; width: 1200px;">
                <b style="font-size: 20px;">练习简介:</b>
                <div class="row" style="white-space: pre; height: 1px; border-bottom: solid 1px #000000"></div>
                {{ test.describe }}
                <br><br><br>
                {{ test.empty_test}}
            </div>
        </div>
    </div>
<!--    <div class="row">-->
<!--        <div class="adjust-list" style="margin-bottom: 20px;">-->
<!--            <b>统计区</b>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--        <div class="adjust-list" style="margin-bottom: 20px;">-->
<!--            <b>讨论区</b>-->
<!--        </div>-->
<!--    </div>-->
</div>

<!--流媒体点播-->
<!--记录-->
<!--问卷调查功能-->

{% endblock %}
