<!DOCTYPE html>
{% load static %}
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>{% block title %}base{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet"/>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.cookie.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script src="{% static 'js/base.js' %}"></script>
    {% block static %}
    {% endblock %}
</head>
<body>
<nav class="navbar-default bd-navbar">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#my-nav"
                    aria-expanded="false">
            </button>
            <a href="/">
                <img class="main-icon" src="{% static 'img/mainPageIcon.png' %}">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div id="my-nav">
            <ul class="nav navbar-nav">
                <li style="align-content: center; font-size: 20px;"><a href="/classes/"><b>模拟训练系统</b></a></li>
                <li class="dropdown">
                    <a onclick="top.location.href='/classes/'" class="dropdown-toggle mdropdown-a" data-toggle="dropdown">课程</a>
                    <div class="dropdown-menu">
                        <button class="mdropdown-button" onclick="window.location.href='/classes/mine/'">我创建的课程</button>
                        <button class="mdropdown-button" onclick="window.location.href='/classes/join/'">我参加的课程</button>
                        <button class="mdropdown-button" onclick="window.location.href='/classes/'">全部课程</button>
                    </div>
                </li>
                <li class="dropdown">
                    <a onclick="top.location.href='/tests/'" class="dropdown-toggle mdropdown-a" data-toggle="dropdown" href="/tests/">练习</a>
                    <div class="dropdown-menu">
                        <button class="mdropdown-button" onclick="window.location.href='/tests/mine/'">我创建的练习</button>
                        <button class="mdropdown-button" onclick="window.location.href='/tests/join/'">我做过的练习</button>
                        <button class="mdropdown-button" onclick="window.location.href='/tests/'">全部练习</button>
                    </div>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle mdropdown-a" href="/grade/">成绩</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if request.session.is_login %}
                <li><a href="/user">{{ request.session.display_name }}</a></li>
                <li><a href="/logout/">登出</a></li>
                {% else %}
                <li><a href="/login/">登录</a></li>
                <li><a href="/register/">注册</a></li>
                {% endif %}
            </ul>
            <div class="nav navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" class="form-control" id="search_input_header" placeholder="请输入搜索内容">
                    <button class="btn btn-default" id="search_btn_header">搜索</button>
                </div>
                <div class="search-popover-header" style="display: none;">
                </div>
            </div>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

{% block content %}{% endblock %}


</body>
</html>
