<template>
  <button class="mel-btn" @click="btnClick">
  </button>
</template>

<script>
  import Vue from 'vue'
  import store from '../../store'
  import {mapGetters} from 'vuex'
  import {mapActions} from 'vuex'

  import '../../assets/css/theElements.scss'

  export default {
    name: "ElementBtn",
    data(){
      return {

      }
    },
    methods: {
      btnClick(event){
        this.$emit("btnClick");
        event.stopPropagation();
      }
    },
    mounted(){

    },
  }
</script>