<template>
  <label class="mel-label" @click="labelClick">{{text}}</label>
</template>

<script>
  import Vue from 'vue'
  import store from '../../store'
  import {mapGetters} from 'vuex'
  import {mapActions} from 'vuex'

  import '../../assets/css/theElements.scss'

  export default {
    name: "ElementLabel",
    props: {
      text: String,
    },
    data(){
      return {

      }
    },
    methods: {
      labelClick(){
        this.$emit("labelClick");
      }
    },
    mounted(){

    },
  }
</script>