<template>
  <el-input class="mel-input" type="textarea" v-model="input" @input="change"></el-input>
</template>

<script>
  import Vue from 'vue'
  import store from '../../store'
  import {mapGetters} from 'vuex'
  import {mapActions} from 'vuex'

  import '../../assets/css/theElements.scss'

  export default {
    name: "ElementBtn",
    props: {
      attr: Object,
    },
    data(){
      return {
        input: "",
      }
    },
    methods: {
      change(event){
        this.$emit('inputChange', {text: event})
      },
    },
    mounted(){

    },
  }
</script>