[id^='drag']{position:absolute;top:100px;left:100px;width:300px;height:160px;background:#e9e9e9;border:1px solid #444;border-radius:2px;box-shadow:0 1px 1px 1px #666;opacity:0.7;background-size: 100% 100%;background-repeat:no-repeat;}
[id^='drag'] .title{position:relative;height:100%;}
/*[id^='drag'] .title h2{font-size:14px;height:27px;line-height:24px;border-bottom:1px solid #A1B4B0;}*/
[id^='drag'] .title label{height:100%;line-height:24px;white-space: pre-line;}
[id^='drag'] .title div{position:absolute;height:19px;top:2px;right:0;}
[id^='drag'] .title a,a.open{float:left;width:21px;height:19px;display:block;margin-left:5px;background:url(../../assets/tool.png) no-repeat;}
a.open{position:absolute;top:10px;left:50%;margin-left:-10px;background-position:0 0;}
a.open:hover{background-position:0 -29px;}
[id^='drag'] .title a.min{background-position:-29px 0;}
[id^='drag'] .title a.min:hover{background-position:-29px -29px;}
[id^='drag'] .title a.max{background-position:-60px 0;}
[id^='drag'] .title a.max:hover{background-position:-60px -29px;}
[id^='drag'] .title a.revert{background-position:-149px 0;display:none;}
[id^='drag'] .title a.revert:hover{background-position:-149px -29px;}
[id^='drag'] .title a.close{background-position:-89px 0;}
[id^='drag'] .title a.close:hover{background-position:-89px -29px;}
[id^='drag'] .content{overflow:auto;margin:0 5px;}
[id^='drag'] .resizeBR{position:absolute;width:12px;height:12px;right:0;bottom:0;overflow:hidden;cursor:nw-resize;background:url(../../assets/resize.png) no-repeat;}
[id^='drag'] .resizeL,[id^='drag'] .resizeT,[id^='drag'] .resizeR,[id^='drag'] .resizeB,[id^='drag'] .resizeLT,[id^='drag'] .resizeTR,[id^='drag'] .resizeLB{position:absolute;background:#000;overflow:hidden;opacity:0;filter:alpha(opacity=0);}
[id^='drag'] .resizeL,[id^='drag'] .resizeR{top:0;width:3px;height:100%;cursor:w-resize;}
[id^='drag'] .resizeR{right:0;}
[id^='drag'] .resizeT,[id^='drag'] .resizeB{width:100%;height:3px;cursor:n-resize;}
[id^='drag'] .resizeT{top:0;}
[id^='drag'] .resizeB{bottom:0;}
[id^='drag'] .resizeLT,[id^='drag'] .resizeTR,[id^='drag'] .resizeLB{width:5px;height:5px;background:#FF0;}
[id^='drag'] .resizeLT{top:0;left:0;cursor:nw-resize;}
[id^='drag'] .resizeTR{top:0;right:0;cursor:ne-resize;}
[id^='drag'] .resizeLB{left:0;bottom:0;cursor:ne-resize;}