.side-tree{
  width: 100%;
  &-node{
    color: #000000;
    font-size: 14px!important;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  }
  &-leaf{
    color: #000000;
    font-size: 14px!important;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  }
  &-input{
    font-weight: 100;
  }
}
.el-tree-node__label{
  font-size: 14px!important;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}